[2013-12-20 22:21] vtsao opened #1 "curl CURLOPT_FOLLOWLOCATION not working with open_basedir set"
What steps will reproduce the problem?
1.Set open_basedir in php.ini on the server
2.Try to run code
$networkService = $user->GetService('NetworkService', API_VERSION));
3.

What is the expected output? What do you see instead?
I should get NETWORK SERVICE, instead i get an error:
"curl_setopt() [function.curl-setopt]: CURLOPT_FOLLOWLOCATION cannot be activated when safe_mode is enabled or an open

[2013-12-20 22:22] vtsao opened #2 "Adding XSI type to SOAP request needs to support parsing PHP version labels for PHP installations bundled with Ubuntu."
Copied from:
https://groups.google.com/forum/?fromgroups#!topic/google-doubleclick-for-publishers-api/u1PFQiLCjas

I got a problem by post a soap request to dfp (with the standard php library): I just got the error message "Unmarshalling error: null". Not very concrete... on a dev-server this behaviour does not occur, so I compared both SOAP-Requests and found out, that the only difference was in

[2013-12-20 22:24] vtsao opened #3 "Unmarshalling Error"
I'm getting this error:

Fatal error: Uncaught SoapFault exception: [soap:Client] Unmarshalling Error: cvc-type.2: The type definition cannot be abstract for element ns1:searchParameters. in src/Google/Api/Ads/Common/Lib/AdsSoapClient.php:200

OS: Linux (Debian)
PHP: 5.2.6-1+lenny16
libxml: 2.6.32
API: v201302
Library: 4.2.1
Apr 2, 2013 Delete comment Project Member #1 api.pmatthews
Hi Davis,

It

[2013-12-20 22:24] vtsao opened #4 "Get beta version of this client library to stable."
Re-purposing this as a tracking bug for getting the [beta version](https://github.com/googleads/googleads-php-lib/tree/experimental) of this client library to stable.

Blocked by:
- [x] #68
- [x] #77
- [x] #86
- [x] #115
- [x] #120
- [x] #124
- [x] #125
- [x] #138
- [x] #145

[2013-12-20 22:25] vtsao opened #5 "Oauth2.0 approval_prompt = force"
Hello All,

I am not seeing approval_prompt option under Oauth2.0 authentication which can enable user to approve appllication request every time he logged in with google account.

For more info please see this forum question:
https://groups.google.com/forum/#!searchin/adwords-api/oauth2.0/adwords-api/GTClxukrLCE/GdO1bRsGkWkJ

No option for this under PHP Client library v201306.

Thanks,
Chirag
Ju

[2013-12-20 22:25] vtsao opened #6 "Short description of the bug"
Which version of the library are you using? adwords_api_php_4.5.1

Which version of PHP are you using? 5.2.4-2ubuntu5.26

What steps will reproduce the problem?
Go to /adwords_api_php_4.5.1/examples/AdWords/v201306/Optimization/GetKeywordIdeas.php

What is the expected output? What do you see instead?
I expect to see an example of keywords ideas (from demo).

Instead I see
Warning: Error parsing {

[2013-12-20 22:27] vtsao opened #7 "Update README to recommend increasing WSDL cache limit?"
Which version of the library are you using?
4.7.0

Which version of PHP are you using?
2.4.0

Please provide any additional information below.
According to http://php.net/manual/en/soap.configuration.php, there is a default soap.wsdl_cache_limit of 5 - which is much less than the number of wsdls that we have.  Update README to recommend increasing this number to a larger value to prevent unnecessa

[2013-12-20 22:27] vtsao opened #8 "Alert Service not returning any alert for non MCC account clientCustomerId"
Which version of the library are you using?
V201309

Which version of PHP are you using?
PHP Version 5.3.10-1ubuntu3.8

What steps will reproduce the problem?
By running a example for GetAccountAlerts.php under AccountManagement.

What is the expected output? What do you see instead?
Alert for budget and all other types

Please provide any additional information below.
Giving error "An error has o

[2014-01-02 14:54] paul-matthews opened #9 "Unused criteria in example UpdateKeyword.php example"
UpdateKeyword.php example creates an unused Criteria object. It should be removed to reduce confusion.

[v201306/BasicOperations/UpdateKeywords.php](https://github.com/googleads/googleads-php-lib/blob/ec0f7ab72208022893d83afc4e0f4b7d0414fbfb/examples/AdWords/v201306/BasicOperations/UpdateKeyword.php#L52)
[v201309/BasicOperations/UpdateKeywords.php](https://github.com/googleads/googleads-php-lib/bl

[2014-01-15 11:19] hackzilla opened #10 "composer.json"
Can we get a composer.json file?

[2014-02-06 23:03] jxn opened #13 "Improper sanitization of responses"
Testing out one of the examples with my DFP data, GetAllCustomTargetingKeysAndValuesExample.php from version v201311, it seems that the soap client is failing to import the XML received from Google for a single custom Key's values.  In my case, all of my keys return their value fine, except one (I discovered through trial an error with LIMIT and OFFSET).

The offending Key / Value query throws the

[2014-02-18 14:09] jradcliff opened #14 "Improve examples documentation to clarify that examples should be run from the command line"
This is a common source of confusion on the AdWords API group.  Many users try to load up the examples in their browsers instead of running them from the command line.

[2014-02-28 20:15] Jakobud opened #15 "How to install this lib without using global PHP paths?"
According to the README.md in the lib folder:

Okay so, I have to install this lib in a global path location so that PHP can load it from anywhere.  How do I install and use this library while installing the lib only local to my specific project I'm using it for?

Installing a library globally on the server level just for one PHP project to use it is generally poor practice imo.

[2014-02-28 21:09] #15 closed, assigned to nobody

[2014-03-03 22:37] Jakobud opened #16 "GetRefreshToken.php generating incorrect client_id in URL"
In the Google API Console, I have created a new Installed Application.  The client ID is (obfuscated):

`54xxxxxxxxx62-n5238beunu5g6qvbxxxxxxxxxxxxxxxxx.apps.googleusercontent.com`

In my `auth.ini` I have filled out `developerToken` (approved), `userAgent`, `client_id` and `client_secret`.  When I run `GetRefreshToken.php` I get:

[code]

Notice the `client_id` in the URL is NOT my client ID.  Th

[2014-03-03 23:30] #16 closed, assigned to nobody

[2014-03-06 13:43] saturnism opened #19 "example's init.php refers to src/ rather than lib/ directory"
examples' init.php should be updated to reflect the correct directory name.

[2014-03-07 15:07] saturnism opened #20 "AdWords API access token should be passed in the http header"
currently access token seems to be passed in the GET parameter, this should go into HTTP header

[2014-03-15 17:22] EdEichman-LentillasSi opened #21 "GetAccountHierarchy uses non-existent field from account object"
Line number 100 of \examples\AdWords\v201402\AccountManagement\GetAccountHierarchy.php v5.2.? uses field descriptiveName, when it's clear from the context that it should use field "name" instead.

[2014-03-18 10:17] czarek1986 opened #22 "WSDLInterpreter change service class name"
In file src/Google/Api/Ads/AdWords/Lib/api.properties is option "wsdl2php.enablePseudoNamespaces". It includes description:

 "If enabled, class names (but not service names) will be prefixed with the package name. Ex) GoogleApiAdsAdWords_Campaign"

but if I run Phing with wsdl2php.enablePseudoNamespaces=True, I see that service classes names changes too. For example CampaignService changes to Goo

[2014-03-18 21:03] LauraGonzalez opened #23 "Offline conversions: $conversionTime returning INVALID_FIELD_VALUES_IN_DATE_TIME"
I was uploading offline conversions few days ago and I was passing the date as "20140306 143017" (just an example) just by doing $conversionTime->format('Ymd His'), according to the docs, time zone is optional, if it's not passed then it will set it as the one configured in my MMC account.

It was working fine until few days ago, I started getting DateError.INVALID_FIELD_VALUES_IN_DATE_TIME (I did

[2014-03-19 17:05] patekuru opened #24 "Getting "Error Fetching http body, No Content-Length, connection closed or chunked data" on some versions of PHP < 5.4.x."
This issue was invalid.

[2014-03-25 03:34] #23 closed, assigned to nobody

[2014-03-25 08:38] SonicGD opened #25 "Access level to AdsSoapClient::__construct() must be public"
Fatal error: Access level to AdsSoapClient::__construct() must be public (as in class SoapClient) or weaker in googleads-php-lib-master/src/Google/Api/Ads/Common/Lib/AdsSoapClient.php on line 47

[2014-03-26 16:05] ghost opened #26 "Unmarshalling Error: cvc-type.2"
lib: v201402
PHP: 5.4.7

Error "Unmarshalling Error: cvc-type.2: The type definition cannot be abstract for element ns1:settings" is shown based on the following code:

$adGroup = new AdGroup();
            $adGroup->campaignId = SOME_ID;
            $adGroup->name = SOME_NAME;
            $adGroup->status = 'ENABLED';

[code]

Campaign exists and is available. This error pops up when trying to ad

[2014-03-27 18:29] marcinrosinski opened #27 "CANNOT_ATTACH_BIDDING_STRATEGY_TO_CAMPAIGN when enhancedCpcEnabled = TRUE"
Hi there,

I am having issues creating the campaign, below you can see a snippet of my code:

[code]

the issue is with enhancedCpcEnabled property, if it is set to TRUE the API returns the following error:

BiddingErrors.CANNOT_ATTACH_BIDDING_STRATEGY_TO_CAMPAIGN

any ideas?

[2014-03-28 03:01] #27 closed, assigned to nobody

[2014-03-31 09:17] jamesmills opened #28 "Composer / Packagist"
Hi,

Do you think you guys could add this to Packagist.

I have been using https://packagist.org/packages/cmutter/google-adwords-api which was a port of your older PHP package however it would be great to move to use this new version.

Thanks, James

[2014-04-01 13:35] #28 closed, assigned to nobody

[2014-04-01 13:38] dearaujoj opened #29 "File inclusion"
Hi guys,
Won't it be better to have file inclusion with __DIR__ constant instead of 'Google/Api/Ads/AdWords/...' path ?
For example inclusion in  AdsUser.php goes from:

[code]

to

[code]

which it's better IMHO.

Regards

[2014-04-01 13:56] #29 closed, assigned to nobody

[2014-04-01 14:13] #7 closed, assigned to nobody

[2014-04-01 17:12] #21 closed, assigned to saturnism

[2014-04-01 17:24] #24 closed, assigned to vtsao

[2014-04-01 18:33] #19 closed, assigned to vtsao

[2014-04-01 18:43] #10 closed, assigned to nobody

[2014-04-01 20:26] onema opened #30 "Support composer autoloader"
Adding `composer.json` is a step in the right direction, unfortunately it doesn't work with the composer autoloader.
The following code will not work unless I include the file manually:

[code]

Please see https://github.com/colinmutter/google-api-adwords-php which has successfully made the adwords SDK for PHP work with composer and the autoloader. Unfortunately the package is not up to date with

[2014-04-08 17:43] #22 closed, assigned to saturnism

[2014-04-08 17:54] #8 closed, assigned to nobody

[2014-04-08 17:59] #26 closed, assigned to saturnism

[2014-04-08 19:06] #3 closed, assigned to saturnism

[2014-04-08 20:04] #9 closed, assigned to saturnism

[2014-04-08 20:08] #25 closed, assigned to nobody

[2014-04-09 15:06] ebotey opened #32 "Syntax error, unexpected '}' in some examples"
Hi,
Executing the next script:

find . -iregex '.*(.php)' -exec php -l '{}' \; | grep "Parse error:"

you can see that 3 examples files has syntax errors.

Parse error: syntax error, unexpected '}', expecting T_CATCH in ./googleads-php-lib/examples/Dfp/v201403/CreativeSetService/CreateCreativeSetsExample.php on line 75
Parse error: syntax error, unexpected '}', expecting T_CATCH in ./googleads-php

[2014-04-11 21:49] #2 closed, assigned to saturnism

[2014-04-11 21:49] #32 closed, assigned to vtsao

[2014-04-22 20:22] TylerConlee opened #34 "Unmarshalling Error: cvc-type.2 - v201402"
I apologize for bringing up an issue that was marked closed, but I'm running into the same error, and changing $addXsiTypes to true does not change the error message. I've already tried the suggestions in issue #3, but none of them have any effect on the error that I'm receiving. The code I'm running:

[code]

[2014-04-30 14:50] cordoval opened #36 "please could you convert this into a PSR4 compliant library"

[2014-04-30 15:34] #36 closed, assigned to nobody

[2014-05-03 19:54] rparsi opened #37 "bind variable suppport for WHERE <property> IN <list> queries"
Currently using bind variables with a query that uses the IN clause doesn't work,
throws UNEXECUTABLE exception.

I consider this a core feature that needs to be implemented.

[2014-05-03 20:28] rparsi opened #38 "Api support for allowing developers to parse the xml response"
Currently DfpSoapClient processes the soap xml response using DOMDocument.
Developers need a way to parse the soap xml response themselves for performance
(DOMDocument parses entire xml) and for getting partial objects.

I prefer to use XMLReader as I only need some of the xml tags and not the entire object.

[2014-05-05 16:45] #37 closed, assigned to nobody

[2014-05-14 18:15] johannesnoebels opened #41 "path error in clone"
In the Github Rep the library is under src/ for the examples it needs to be lib/.

[2014-05-14 18:52] #41 closed, assigned to nobody

[2014-05-22 11:12] ebotey opened #43 "OfflineConversionError.INVALID_CONVERSION_TYPE"
Hi,

I want to import via API my offline conversions, but the API returns this error:

[code]

For what we read here (https://developers.google.com/adwords/api/docs/reference/v201402/OfflineConversionFeedService.OfflineConversionError.Reason) the error is due to we use as conversionName a name that does not exist. In my case I use 'Solicitudes' as conversionName.

If we obtain via API the conversi

[2014-05-22 15:31] #43 closed, assigned to nobody

[2014-06-08 20:07] stephenyeargin opened #45 "Cannot load `api.properties` file when building from source"
I need to use the pseudo-namespace argument when building the library from the WSDLs. I suspect there is something that is supposed to happen with Phing to load settings from `../src/Google/Api/Ads/AdWords/Lib/api.properties` that isn't happening.

The final error (after it created a bogus folder) is `[PHP Error] Unable to parse classmap as JSON. [line 167 of /Users/stephen/Downloads/googleads-php

[2014-06-08 22:11] stephenyeargin opened #46 "[AdWords] Using an existing OAuth1 token"
While working to update for the `v201402` release, I noticed that this library removed all support for using OAuth1 tokens. I can see that it's cited as being removed in 4.3. I have 5,000+ user tokens that are still being used today that have not yet been upgraded to OAuth2 through a re-authroization process. Is there a workaround with the library to use these (at minimum, for the adhoc reporting

[2014-06-09 16:23] #46 closed, assigned to nobody

[2014-06-12 21:59] stephenyeargin opened #48 "`Google_Api_Ads_AdWords_Lib_AdWordsSoapClient` with wsdl2php.enablePseudoNamespaces=True"
Related to #45.

I've run the `phing` task (with the modification described [here](https://github.com/googleads/googleads-php-lib/issues/45#issuecomment-45447307)), I am able to generate a pseudo namespaced library. However, when I go to use it, I receive:

[code]

In `ManagedCustomerService.php`, I see:

[code]

However, in `AdWordsSoapClient.php`, there is only:

[code]

I believe the build proc

[2014-06-13 19:36] #20 closed, assigned to vtsao

[2014-06-18 10:12] Hyunk3l opened #49 "empty function use in DfpSoapClient.php compatible only with PHP >= 5.5"
Hi,

in this file https://github.com/googleads/googleads-php-lib/blob/master/src/Google/Api/Ads/Dfp/Lib/DfpSoapClient.php at line 67, there is a function call (empty) compatible only with PHP versions >= 5.5.
Taking a look at PHP empty function doc page:

Prior to PHP 5.5, empty() only supports variables; anything else will result in a parse error. In other words, the following will not work: empt

[2014-06-28 10:18] tharangakothalawala opened #50 "PHP Fatal error: Can't use method return value in write context"
I simply get this error:
PHP Fatal error:  Can't use method return value in write context in /var/www/html/eo41/vendor/googleads/googleads-php-lib/src/Google/Api/Ads/Dfp/Lib/DfpSoapClient.php on line 67

[2014-06-29 22:58] #50 closed, assigned to nobody

[2014-07-07 11:29] tobias-hinz-yoc opened #52 "Can't use method return value in write context -> DfpSoapClient.php"
"PHP Fatal error:  Can't use method return value in write context in /var/www/xxxxxxxxxxx/releases/20140707111201/vendor/googleads/googleads-php-lib/src/Google/Api/Ads/Dfp/Lib/DfpSoapClient.php on line 67"

i can easily correct this but since we are using composer to install the packages after a deploy this starts to get a mess.

is this a known bug?
how to fix this?

[2014-07-08 18:47] #52 closed, assigned to saturnism

[2014-07-08 21:06] #48 closed, assigned to nobody

[2014-07-09 16:02] #45 closed, assigned to saturnism

[2014-07-09 16:08] #30 closed, assigned to saturnism

[2014-07-09 19:05] #49 closed, assigned to vtsao

[2014-07-09 19:06] #6 closed, assigned to nobody

[2014-07-22 19:10] jamesmills opened #55 "Example for -> AdvancedOperations / AddCall.php"
Don't suppose there is anything in the pipeline to add some example documentation on adding Call Extensions to an AdGroup?

Much like the example of adding AdvancedOperations/AddSitelinks.php

Thanks, James

[2014-07-22 19:54] #34 closed, assigned to nobody

[2014-07-22 19:55] #14 closed, assigned to nobody

[2014-07-22 20:38] #5 closed, assigned to vtsao

[2014-07-22 20:39] #38 closed, assigned to saturnism

[2014-07-23 16:14] asgrim opened #56 "Tag 5.4.0 is broken (on packagist)"
Hi there, I notice you have fixed since the original 5.4.0 tag, but the composer.json is missing a comma, thus the version is not selectable on https://packagist.org/packages/googleads/googleads-php-lib

Could you create a new 5.4.1 tag or update the 5.4.0 tag to point to the fixed commit please? :)

[2014-07-23 18:56] athen66 opened #57 "Better support for Shopping API"
I know you've got examples for creating Product Partition Trees (AddProductPartitionTree.php) but not seeing functionality in the class to change bids at the Partition/Product Grouping level.

Hoping you'll be able to expand upon more of the new Shopping API features in the next release.

[2014-07-24 10:04] dklimkin opened #58 "Better handling for bidModifier in examples"
Logging based on:

  https://groups.google.com/forum/#!msg/adwords-api/pOxbk6fzZMU/Ltd9Ote_pywJ

[code]

There should be used is_numeric instead of !empty, since 0.0 looks like empty, but it's actually -100%, and that should be treated as well.

[2014-07-24 16:14] #56 closed, assigned to saturnism

[2014-07-30 21:55] saturnism opened #59 "Experimental - enable PSR-4 autoloading in composer"

[2014-07-30 21:56] saturnism opened #60 "Experimental - set minimum required php version to 5.3 in composer"

[2014-08-26 13:21] DenisOgr opened #62 "Problem with Oauth2 in v5.5.1."
After update to v5.5.1. my old script throws exceptions. It in two places different exceptions:
First:

[code]

Exception:

[code]

Second:

[code]

Exception:

[code]

When I use revision with commit hash: 52123a0fdf7b4e447c8893cd2b438e49d50a06cd  it works fine

[2014-09-08 20:15] formigone opened #63 "StatementBuilder->Limit not working in v20148"
Can't figure out why this isn't working. Ideas?

[code]

Results in:

[code]

[2014-09-10 15:09] #63 closed, assigned to vtsao

[2014-09-12 02:59] mayeco opened #64 "Login using AuthToken is deprecated"
The login using the AuthToken is deprecated

https://developers.google.com/accounts/docs/AuthForInstalledApps
http://googledevelopers.blogspot.com/2012/04/changes-to-deprecation-policies-and-api.html

[2014-09-12 12:59] #64 closed, assigned to vtsao

[2014-09-16 23:46] #62 closed, assigned to saturnism

[2014-09-16 23:47] #60 closed, assigned to saturnism

[2014-09-16 23:47] #59 closed, assigned to saturnism

[2014-10-03 07:19] DenisOgr opened #67 "Undefined property: stdClass::$ApiError CodeError:8"
Sometimes, I catch exception: "Undefined property: stdClass::$ApiError" CodeError:8 I get report from google adwords. My script is running every day and doing query to google(with pauses, course). But sometimes I catch this exception: "Undefined property: stdClass::$ApiError". When I repeat query, I didn't get it. In first, I think it error with google server, and I wrap ReportUtils::DownloadRepor

[2014-10-27 10:13] bashilbers opened #70 "defaultVersion visibility issue"
Hi!,

I'm using 5.5.2, which has v201402, v201406 and v201409.

Considering the following constructor:

new AdWordsUser($authFile, null, null, null, $ccid, $settingsFile)

And my $settingsFile looks like this:

....

[SERVER]
DEFAULT_VERSION = "v201406"
DEFAULT_SERVER = "https://adwords.google.com"

....

What do you expect as defaultVersion? v201406 right? Well no, AdwordsUser will never change i

[2014-11-14 16:53] marcinrosinski opened #71 "Missing detail-> ApiExceptionFault data under Exceptions"
Hi there,

we have had small issue which generated an exemption for criterion add action: "Unmarshalling Error: cvc-enumeration-valid: Value 'ACTIVE' is not facet-valid with respect to enumeration '[ENABLED, REMOVED, PAUSED]'. It must be a value from the enumeration."

We have fixed the issue but the issue we have discovered is that Exception object is no longer providing us with $exception->detai

[2014-11-14 17:54] #71 closed, assigned to vtsao

[2014-11-14 22:22] iknox opened #72 "Update for more recent API versions in the experimental branch"
201402 is no longer viable but it's all that's supported.

[2014-11-17 17:48] #13 closed, assigned to vtsao

[2014-11-17 22:17] #67 closed, assigned to vtsao

[2014-11-18 14:11] #70 closed, assigned to vtsao

[2014-11-18 14:14] #55 closed, assigned to vtsao

[2014-12-09 22:10] #58 closed, assigned to vtsao

[2014-12-09 22:10] #1 closed, assigned to vtsao

[2014-12-11 13:52] vtsao opened #74 "Fix usage of return value of empty as a function parameter in CurlUtils for PHP users using a PHP version < 5.5."
Fix usage of return value of empty as a function parameter in CurlUtils for PHP users using a PHP version < 5.5.
https://github.com/googleads/googleads-php-lib/blob/master/src/Google/Api/Ads/Common/Util/CurlUtils.php#L56

Offending line:
$this->SetOpt($ch, CURLOPT_FOLLOWLOCATION, empty(ini_get('open_basedir')));

[2014-12-11 16:51] #74 closed, assigned to vtsao

[2014-12-20 18:30] antonioperic opened #75 "Integrating with Symfony2"
Hi, what is the best way to integrate this lib with Sf2? Using composer or?

[2015-01-04 05:06] saturnism commented on #75
There is an an experimental branch that uses proper namespace.  It's not supported at the moment, but it'd be great to see how it would work.

https://github.com/googleads/googleads-php-lib/tree/experimental

You can find this in packagist as well https://packagist.org/packages/googleads/googleads-php-lib

[2015-01-21 21:31] iknox commented on #4
Any word on this (at the least an update of the experimental branch to work with the current API)?  I believe Jan 1 was the official we-don't-support PHP 5.2 date was it not?

[2015-01-23 17:16] vtsao commented on #4
We are still planning to work on it, but no updates as of this moment.

[2015-01-27 11:15] hackzilla commented on #75
I've been using this in my composer file for a while.

[code]

Once installed, everything is working as expected.

[code]

Though looking forward to proper namespaced code.

[2015-02-17 14:49] adrienthiery opened #76 "Unmarshalling Error on KeywordMatchSetting"
Hi @vtsao , @saturnism ,

I saw in the previous issues there were unmarshalling errors on 'Selector' or 'Paging' (classes in ReportUtils.php) but I have a bit of a different error :
[code]

It happens while checking an XML that looks like:
[code]

Any idea how I could fix that ?

I'm using iknox fork on the experimental branch ( so v201409 adapted with namespaces : https://github.com/iknox/googlea

[2015-02-17 15:49] adrienthiery commented on #76
I identified that the error happens on the ```<ns1:settings/>``` tag and added a line to remove this element from the xml, but it is really messy. Any info on how to do that nicely ?

[2015-02-17 15:53] vtsao commented on #76
Does this issue occur on the non-experimental branch of the client library?

[2015-02-17 16:02] adrienthiery commented on #76
I need namespaces to use the lib within symfony2, so I only tried the experimental branch...

[2015-02-25 05:29] buley opened #77 "Service account support"
As of September [DFP supports service accounts](http://googleadsdeveloper.blogspot.com/2014/09/announcing-oauth-20-service-account.html).

To my knowledge this is not yet supported in the PHP client. It would be awesome to see this support surfaced in a future version of the PHP client library. Among my personal reasons for this wishlist item, it would circumvent the need for the refresh token dan

[2015-02-25 12:20] YOzaz commented on #75
[code]
Then, in your PHP code:
[code]
Of course, it won't be namespaced - but in reality your code with Symfony/Laravel should be prefixed with your own namespaces, thus it shouldn't conflict with Google PHP SDK ones.

[2015-02-25 12:23] YOzaz opened #78 "Breaking changes in DFP API core files"
After updating package to v5.8.0, DFP API broke - even if we haven't switched to v201502 in config.
Reason - change in DfpUser class constructor params:
[code]
It should be mentioned in the docs, and/or prepared with migration, or compatible with old code as well.

[2015-02-25 12:41] YOzaz commented on #4
Actualy, even autoload would be sufficient in composer.json for current branch:
[code]

[2015-02-25 12:42] YOzaz commented on #75
By the way, I saw that autoload is in composer.json of the package already. So suppose you need only autoload the ones which are missing (was Util and Common in my case).

[2015-02-26 01:55] vtsao commented on #77
Hi, that's correct, we currently do not support OAuth2 service accounts in this client library. We do plan to eventually swap out our current OAuth2 client with another one that has support for service accounts, so it's definitely on our roadmap.

Also, for the current way we recommend doing things, you only need to do the refresh token dance once if you request an offline refresh token, so it's n

[2015-02-26 01:58] vtsao commented on #78
Sorry about this, I'm preparing another release with the "creating a DfpUser without an auth.ini file" auth example updated and calling this out a bit better in the changelog.

However, major version bumps do indicate there may be breaking changes in the client library.

[2015-02-26 09:29] YOzaz commented on #78
OK, thanks.

[2015-02-26 09:29] #78 closed

[2015-02-26 17:41] melinath opened #79 "Correct documentation surrounding application"
According to [this forum post](https://groups.google.com/forum/#!msg/adwords-api/OucgtnDw9bA/gsCZoL_QYQgJ) applicationToken is ignored; however, the inline documentation for AdWordsUser says that it's required. That should probably be fixed.

[2015-02-26 19:58] vtsao commented on #78
Updated in 5.8.1:
https://github.com/googleads/googleads-php-lib/releases/tag/5.8.1

[2015-02-26 20:04] YOzaz commented on #78
:+1:

[2015-03-01 21:28] vtsao commented on #79
Thanks for letting us know, we will update this.

[2015-03-02 19:03] stephenyeargin opened #80 "Loading via composer and class naming conflicts"
Our application has existing classes that are in conflict with some of the classes present in the library. Although we are attempting to use the namespaces provided, it looks like in at least two cases they are not working as intended.

- `DateRange`
- `Customer`

For most services, we have used the `$service->create('SomeObject')` pattern to ensure interoperability. But our classes are still taki

[2015-03-04 14:18] joshhornby commented on #75
@YOzaz In your example you are using $this->query() can I ask what this is? I am trying to get this set up in Laravel so this is my final stumbling block.

[2015-03-04 14:35] YOzaz commented on #75
@joshhornby not sure I follow - where do you see $this->query in my example?

[2015-03-04 14:36] joshhornby commented on #75
[code]

[2015-03-04 14:38] YOzaz commented on #75
OK, it's @hackzilla example, not mine...

[2015-03-04 14:38] joshhornby commented on #75
So it is! Sorry my bad one of them days

[2015-03-04 14:44] YOzaz commented on #75
I'd say, stick into official Google examples - they work just fine: https://github.com/googleads/googleads-php-lib/blob/master/examples/AdWords/v201409/BasicOperations/AddCampaigns.php

[2015-03-04 14:44] antonioperic commented on #75
It works perfectly with composer

[2015-03-04 14:44] #75 closed

[2015-03-04 15:29] hackzilla commented on #75
Ah $this->query was a wrapper I'd forgotten to include.

[code]

writeEntries save the result to the disk, and $inject is there to allow me to add extra data.

[2015-03-06 14:29] hakimio opened #81 "Minor bugs in HandlePolicyViolationError example"
HandlePolicyViolationError.php has a couple of minor bugs:
* In case the first mutate request succeeds, the second one will be executed anyway because it's outside catch block
* There is no need to check the size of $operationIndicesToRemove before running foreach loop on line 108

[2015-03-06 21:37] vtsao commented on #81
Thanks, I'll look into this.

[2015-03-17 05:41] innomindtech-geeks opened #82 "Support for create functionality API"
Please help me by an example or somthing like that, how to create the following functionalities in google adword API in PHP
1)call out extension
2)Add Location extension
3) set biding option
4) create product ad
5) Mobile app download campaign
6)Call-only ads

[2015-03-17 09:13] dklimkin commented on #82
This tracker is for library issues / bugs only. Please refer to the support forum with the questions:

  http://groups.google.com/forum/#!forum/adwords-api

[2015-03-17 09:13] #82 closed

[2015-03-17 11:04] hakimio commented on #4
Why haven't there been any commits to experimental branch since august 2014? PSR-0 compliance these days is a must not something you can just ignore.
Just drop PHP 5.2 support already. It's been more than 4 years since 5.2.17 was released.
Of course, PSR-4 would be nice too...

[2015-03-17 11:07] joshhornby commented on #4
PSR0 is deprecated is it not?

[2015-03-17 11:26] hakimio commented on #4
Yeah, I can see now that it is. PSR-4 now replaces it.

[2015-03-21 06:28] swat opened #83 "I need library files for php 5.1 that support OpenID Connect(OAuth2.0)"

[2015-03-21 11:12] joshhornby commented on #83
The ReadMe states what versions of PHP this package currently supports:

### Requirements

PHP
  - [PHP 5.2.x - 5.4.x](http://php.net)
    - [PHP 5.2 support will be deprecated](http://googleadsdeveloper.blogspot.com/2014/07/deprecating-php-52-support-for-ads-php.html) on January 1st, 2015.
  - Required PHP extensions:
    - [SoapClient](http://us3.php.net/manual/en/book.soap.php) (--enable-soap)

[2015-03-23 11:12] ADWESOcom opened #84 "Authentification vai OAuth2.0 ends always with "invalid_grant""
I simply did:

      $ADWORDS_user = new AdWordsUser();
      $ADWORDS_user->SetOAuth2Info(array(
    "client_id" => "[stripped]",
    "client_secret" => "[stripped]",
    "refresh_token" => "[stripped]"));

The refreshtoken was created with GetRefreshToken.php

The API Version is 201409.

[2015-03-23 12:08] dklimkin commented on #84
Please refer to the forum for API support. This bug tracker is only for library specific issues.

  http://groups.google.com/forum/#!forum/adwords-api

[2015-03-23 12:08] #84 closed

[2015-03-23 15:39] #83 closed

[2015-03-24 22:18] vtsao commented on #4
We've only recently announced that we're dropping PHP 5.2 support this Jan (many developers are still on 5.2 so it's hard to just stop supporting 5.2).

So, we are looking forward to revamping this client library this year. Stay tuned!

[2015-03-24 22:35] vtsao commented on #57
We have a utility that may be helpful in our Java client library:
https://github.com/googleads/googleads-java-lib/blob/master/modules/adwords_axis/src/main/java/com/google/api/ads/adwords/axis/utils/v201502/shopping/ProductPartitionTree.java

but there are no immediate plans to port to PHP at this time. Closing this for now, but if many others ping this issue, we may consider it.

[2015-03-24 22:35] #57 closed

[2015-03-25 17:22] vtsao commented on #57
There is also this guide for the ads Java client library:
https://github.com/googleads/googleads-java-lib/wiki/Shopping-product-partition-utility-for-AdWords

may be of help. And our blog post about it:
http://googleadsdeveloper.blogspot.ca/2015/03/shopping-utility-available-in-adwords.html

[2015-03-25 22:39] onema commented on #4
:+1:

[2015-03-30 18:57] stephenyeargin commented on #80
Adding `YouTubeVideo`, `Campaign` and `Keyword` to the list for our particular application. Depending on when and how we interact with them, we end up with unusable objects.

[2015-04-29 01:45] starrychloe opened #85 "Cannot run the examples: An error has occurred: QuotaCheckError.INVALID_TOKEN_HEADER: 'INSERT_DEVELOPER_TOKEN_HERE'"
After installation and authentication, I cannot run the examples. There's no mention of a developer token in the documentation nor the Cloud Console.

    $ php vendor/googleads/googleads-php-lib/examples/AdWords/v201502/BasicOperations/GetCampaigns.php
    An error has occurred: [QuotaCheckError.INVALID_TOKEN_HEADER @ ; trigger:'INSERT_DEVELOPER_TOKEN_HERE']

[2015-04-29 16:45] vtsao commented on #85
Hello:

Please see the AdWords API getting started documentation here:
https://developers.google.com/adwords/api/docs/signingup

for how to get a developer token.

Then follow the README for how to setup your auth.ini file:
https://github.com/googleads/googleads-php-lib/blob/master/README.md#getting-started

which you will need to fill in with your developer token:
https://github.com/googleads/goo

[2015-04-29 16:45] #85 closed

[2015-05-06 21:07] florisgoumans commented on #4
@vtsao any plans on rewriting this class completely PSR-4 compliant? Such a shame such a useful tool is currently only available with this quality.

[2015-05-06 21:17] vtsao commented on #4
Yes, it's still on our radar.

[2015-05-06 21:18] florisgoumans commented on #4
Any ETA? This seems quite inefficient to start building an app with.

[2015-05-06 21:21] vtsao commented on #4
I would recommend just using the non-experimental version for now. I hope to get around to making some updates to this this quarter.

[2015-05-06 21:22] florisgoumans commented on #4
@vtsao To bad, it's quite un-usable in modern day frameworks with this code. Hope it will get fixed soon.

[2015-05-08 07:26] gitazem commented on #25
what's progress is on hhvm support ?

[2015-05-08 07:27] gitazem commented on #25
what's progress on this issue support ?

[2015-05-09 01:38] onema commented on #4
@florisgoumans it is not true that this library is "un-usable" in modern day frameworks.

We use it quite extensively making thousands of api calls for hundreds of clients every day in a symfony 2 application. We install it via  composer without any issues and have access to all classes using the global namespace.

It is true that being a none PSR compliant library causes several pains (chief amon

[2015-05-10 21:10] onema commented on #4
@vtsao FYI I have created a small command/library that can be used to break files containing multiple classes into "single file per class", it can also add missing namespaces. Check it out: [ClassyFile](https://github.com/onema/classyfile).

Generating the new files is as simple as :
[code]
or from the CLI:
[code]

It currently doesn't account for adding use statements if none have been specified

[2015-05-11 07:52] hakimio commented on #4
@onema
Why does your library require "bing-ads-sdk-php" ?

[2015-05-11 16:47] vtsao commented on #25
We currently don't have any plans to support HHVM at this time.

[2015-05-11 16:53] onema commented on #4
@hakimio It should require it. I was testing it with different libraries... I forgot to update the `composer.json` :$. Will update.

[2015-05-11 16:58] onema commented on #4
*it should not require it

[2015-05-19 15:52] starrychloe opened #87 "Cannot get refresh token for client"
The OAuth process requires signing into the Google Account, but Google is restricting login to the account for developers!

https://github.com/googleads/googleads-php-lib/wiki/Using-OAuth-2.0

In order to get a refresh token, the developer needs to log into the owner's account. The owner is a client of the developer and lives in a different country. When trying to log into the account to get the O

[2015-05-19 19:18] vtsao commented on #87
(1) This isn't an issue with the ads PHP client library. If you're an AdWords developer, please post your question here:
https://groups.google.com/forum/#!forum/adwords-api

if you're a DFP developer, please post your question here:
https://groups.google.com/forum/#!forum/google-doubleclick-for-publishers-api

(2) It sounds like you're a third party trying to access your clients' accounts on their

[2015-05-19 19:18] #87 closed

[2015-06-05 18:59] stephenyeargin opened #88 "Intermittent issues parsing WSDL for various services"
So, this doesn't appear to be a networking issue (and possibly not even specific to this SDK). However, I wanted to check here first before blowing up the Forum.

[code]

We have experienced it with the `AdGroupService` and `CampaignService`.

[2015-06-08 13:47] vtsao commented on #88
Hello:

What API call(s) are you making and can you consistently reproduce this error, or is it random?

Can you also try making the same API call(s) with one of our other client libraries (https://developers.google.com/doubleclick-publishers/docs/clients) to determine if it's a PHP client library issue or a networking issue?

Thanks,
Vincent

[2015-06-15 15:07] stephenyeargin commented on #88
@vtsao So, I think it's networking because it fails on multiple services about once every few days (nothing else in our platform is exhibiting any issues with this other than the hiccup). But here's a question: If I load the library via composer, how do I set `WSDL_CACHE`? Even possible? We don't appear to have a method on `AdsUser` for setting the cache to disk.

[2015-06-16 00:08] vtsao commented on #88
WSDL_CACHE is set in settings.ini:
https://github.com/googleads/googleads-php-lib/blob/master/src/Google/Api/Ads/AdWords/settings.ini#L23

Let me know if this solves your problem.

[2015-06-16 00:26] stephenyeargin commented on #88
Composer, so the library doesn't exist in our code base until deployment. Modifying anything in vendor directory is anti-pattern.

[2015-06-16 00:34] stephenyeargin commented on #88
Unless I can instruct `AdsUser` to load the INI from a different path, I'm thinking I need it to have a method similar to `setDeveloperToken()`.

[2015-06-16 00:37] vtsao commented on #88
Ah, okay. Yeah there's no other way right now. I'll look into how we can support it better.

[2015-06-18 23:44] vtsao commented on #88
Ah, my mistake. Not sure why I said there's no way to do this. You can definitely load the settings.ini file from another path when you construct the AdWordsUser:
https://github.com/googleads/googleads-php-lib/blob/master/src/Google/Api/Ads/AdWords/Lib/AdWordsUser.php#L96

[2015-06-18 23:44] #88 closed

[2015-06-30 15:12] vtsao commented on #76
We are currently in the process of revamping the experimental branch, so I'm going to close this for now.

[2015-06-30 15:12] #76 closed

[2015-06-30 15:13] vtsao commented on #79
Fixed in 6.0.0:
https://github.com/googleads/googleads-php-lib/releases/tag/6.0.0

[2015-06-30 15:13] #79 closed

[2015-06-30 15:20] vtsao commented on #81
@fiboknacky will look into this

[2015-06-30 15:22] vtsao commented on #80
We are currently working on namespacing this library and updating the experimental branch.
So this should not be an issue after that occurs.

Closing this since the namespacing effort is tracked in:
https://github.com/googleads/googleads-php-lib/issues/4

[2015-06-30 15:22] #80 closed

[2015-07-01 07:17] fiboknacky commented on #81
It's correct. The first mutate operation is created with [validateOnly](https://developers.google.com/adwords/api/docs/guides/working-with-objects#validating-mutates) mode, so even if it succeeds, nothing is really mutated.
Another mutate operation is needed for adding ads.

Will resolve this soon.

[2015-07-02 11:29] hakimio opened #90 "Incorrect usage of phpdoc"
In most places of this library phpdoc is used incorrectly. For example, right now mutate method definition in AdGroupAdService looks like this:
[code]

Where the correct way to define this would be the following way:
[code]

Same for the get method. Current usage:
[code]
Correct way to define it:
[code]

The biggest problem with incorrect phpdoc usage is that it confuses static code analysis prese

[2015-07-02 21:21] vtsao commented on #90
Yeah, these files are currently generated from the WSDLs with an outdated tool. We're working on replacing this tool in the near future, which will hopefully fix this issue.

Closing this as a duplicate of:
https://github.com/googleads/googleads-php-lib/pull/86

[2015-07-02 21:21] #90 closed

[2015-07-02 21:44] hakimio commented on #90
Hopefully near future is within few weeks because this bug is pretty annoying.

[2015-07-14 05:36] cornernote opened #91 "ADD AdGroupAd - AdError.CANNOT_SET_FIELD @ operations[0].operand.ad.url"
I am getting a SoapFault exception with the message `[AdError.CANNOT_SET_FIELD @ operations[0].operand.ad.url]`

My code is as follows:

[code]

I am not sure what the error means.  Any assistance would be greatly appreciated.

[2015-07-14 06:53] fiboknacky commented on #91
You should use a new [finalUrl](https://github.com/googleads/googleads-php-lib/blob/master/examples/AdWords/v201506/BasicOperations/AddTextAds.php#L58) field instead. Destination URL has been sunset and thus not allowed to use when creating ads.
Please have a look [here](https://developers.google.com/adwords/api/docs/sunset-dates) and [here](https://groups.google.com/forum/#!topic/adwords-api/8NHt

[2015-07-14 06:53] #91 closed

[2015-07-14 19:34] lesterjanpearson opened #92 "$reportDefinition->selector->dateRange->min throwing "PHP message: PHP Warning: Creating default object from empty value"
Its throwing the

"PHP message: PHP Warning:  Creating default object from empty value

on this part of the code.

$reportDefinition->dateRangeType = 'CUSTOM_DATE';
$reportDefinition->selector->dateRange->min = $date_from;
$reportDefinition->selector->dateRange->max = $date_to;

[2015-07-15 00:48] vtsao commented on #92
Thanet can you please take a look at this? Thanks.

[2015-07-15 02:27] fiboknacky commented on #92
Will have a look at this.

[2015-07-16 23:37] lesterjanpearson commented on #92
adding
$reportDefinition->selector->dateRange = new stdClass;
before
$reportDefinition->selector->dateRange->min = $date_from;

fix this

[2015-07-17 06:24] fiboknacky commented on #92
What part of code are your referring to?
`$reportDefinition->dateRangeType = 'CUSTOM_DATE';` appears in [DownloadCriteriaReport.php](https://github.com/googleads/googleads-php-lib/blob/bb6e7f99905091fd5081f1557b981c0e060b4e9d/examples/AdWords/v201506/Reporting/DownloadCriteriaReport.php), but I couldn't find the `selector->dateRange->min` you mentioned.

[2015-07-21 05:34] lesterjanpearson commented on #92
if you use
$reportDefinition->dateRangeType = 'CUSTOM_DATE';

You would need to specify min and max dates, but for php config with E_STRICT on,
it will throw error message
"PHP message: PHP Warning: Creating default object from empty value
there for by adding this:

$reportDefinition->selector->dateRange = new stdClass;

before

$reportDefinition->selector->dateRange->min = $date_from;
$reportDefi

[2015-07-21 16:59] vtsao commented on #92
Are you referencing one of our examples? Which of our examples has this bug?

[2015-07-28 04:19] fiboknacky commented on #81
Fixed. See this [release](https://github.com/googleads/googleads-php-lib/releases/tag/6.2.0)

[2015-07-28 04:19] #81 closed

[2015-08-03 17:15] maxbrokman commented on #4
Any update on this?

[2015-08-05 11:14] hakimio commented on #92
@lesterjanpearson
There is nothing wrong with the library or their examples. The problem is that you don't understand how to use it.
Here is how you are supposed to set custom date:
[code]

[2015-08-06 04:26] fiboknacky commented on #92
It seems irrelevant to our code example here, so I'll close this issue.
Thanks @hakimio for giving more example too.

[2015-08-06 04:26] #92 closed

[2015-08-10 12:51] vtsao commented on #4
I've had some more time to work on this recently, but no ETA yet.

[2015-08-11 08:17] hackzilla opened #93 "GetAccountHierarchy.php: AuthenticationError.CLIENT_CUSTOMER_ID_IS_REQUIRED"
[code]

All the relevant details have been added to ```googleads-php-lib/src/Google/Api/Ads/AdWords/auth.ini```

Double checking, ```DownloadCriteriaReport.php``` works perfectly when I update the following line:

[code]

request_info.log
[code]

soap_xml.log
[code]

[2015-08-11 08:24] fiboknacky commented on #93
I'll have a look at this soon.

[2015-08-11 09:09] hackzilla commented on #93
I'm not 100% sure, but what could I have missed, that allows DownloadCriteriaReport.php but not GetAccountHierarchy.php?

[2015-08-11 09:15] fiboknacky commented on #93
To clarify, have you tried updating this line in GetAccountHierarchy.php too?
[code]
Does it work?
And what happened if you don't update that line in DownloadCriteriaReport.php?
It didn't work too?

If so, then you might have not updated the auth.ini properly.
Have you download the tar file from this [page](https://github.com/googleads/googleads-php-lib/releases/tag/6.2.0) or you just download thi

[2015-08-11 09:25] hackzilla commented on #93
I'm using composer.

[code]

If I comment out SetClientCustomerId I get
[code]

There is no line SetClientCustomerId in GetAccountHierarchy.php, and surely it'd make no sense either.

My understanding on Account Hierarchy was to see how all the Client Customer were connected inside the MCC.

Previously this example worked for me with v201409

[2015-08-11 09:39] fiboknacky commented on #93
[code]
This indicates that your credential is somehow not properly set in auth.ini.

It's a [method](https://github.com/googleads/googleads-php-lib/blob/master/src/Google/Api/Ads/AdWords/Lib/AdWordsUser.php#L267) of AdWordsUser and thus you can manually add the line to set client customer ID.

Note that you need this on almost every request starting from v201409.
(See [this page](https://developer

[2015-08-11 10:01] hackzilla commented on #93
Hmm, it must have been slightly earlier than v201409, as I can see thats when this check was added.

adding ```clientCustomerId = "1234"``` to auth.ini has solved it.

Cheers.

I think I misread this```; Uncomment clientCustomerId to make requests against a single AdWords account,```

[2015-08-11 10:01] #93 closed

[2015-08-28 15:08] mbardelmeijer commented on #77
:+1:

[2015-08-28 15:09] mbardelmeijer commented on #4
:+1: for PSR-4

[2015-09-07 11:58] willatkins opened #94 "Intermittent error "Unknown SSL protocol error in connection to accounts.google.com:443" when requesting a report"
A couple of months ago I started intermittently having an issue described below after months of no issues successfully using the api and php client library.

We have a scheduled job that runs early in the morning (around 4:30 am UK time) and downloads a large campaign report.

Intermittently it will fail, e.g. it worked for two days, then failed on the third (with no changes on our side).

The err

[2015-09-08 13:44] t9nf opened #95 "Good idea"
For extra  money  😆

T9anef ™

[2015-09-08 13:44] t9nf commented on #93
For extra  money  😆

T9anef ™

[2015-09-08 14:47] #95 closed

[2015-09-08 14:53] vtsao commented on #94
FYI @fiboknacky

This is for AdWords right? For help with diagnosing issues, we prefer if you post on the AdWords API forums:
https://groups.google.com/forum/#!forum/adwords-api

if it turns out there is a bug with the PHP client library, then please file it here.

Thanks!

[2015-09-08 15:58] vtsao commented on #94
It seems that you were rerouted here already from the API forums, so we'll try to help you diagnose this issue here.

[2015-09-09 13:15] fiboknacky commented on #94
@willatkins Let us investigate this issue further.
So far I've been informed of this issue so this may take some time for resolving.

As you said it's intermittently occurring, the causes of this issue may result from various factors, such as connections between your application and Google servers, the network settings on your side or the network settings on Google side or both.

As the first step

[2015-09-17 09:56] EliyahuFisherman opened #96 "PHP doc comments type is "the""
I'm using phpstorm IDE since the type in the php doc is  "the" for some arguments, the editor is complains  for example:
 $reportService = $user->GetService('ReportService', 'v201508');
the editor warns that 'reportService' is a string & should be "the"

[2015-09-17 17:06] litan1106 commented on #4
I would like namespace too...

[2015-09-17 20:40] vtsao commented on #96
Thanks for reporting this, I'll make sure the PHPDoc is fixed.

[2015-09-18 09:06] willatkins commented on #94
Hi Knack,

As it's intermittent and only seems to be an issue early in the morning
it's a little tricky to start a network trace without getting up really
early, as it takes up quite a bit of space if you run it for a long time.

What I've ended up doing is setting up a retry, so that if it fails I wait
30 seconds and try again, which is working well so far.

 //retry code
   $response = false;

[2015-09-22 18:03] MrDarpan opened #97 "Getting blank screen GetRefreshToken.php"
I followed Getting started tutorial and when I am trying to get refresh token I am only getting blank page nothing happened not even error just a blank page. I run example and other php files every file giving me blank page.

Anyone please tell me what is the problem?

I am on localhost and using adwords

[2015-09-24 00:07] vtsao commented on #97
All of our examples are meant to be run via the command line and not a web browser/page. We'll make a note to clarify that in our README and/or the example comments.

[2015-09-24 03:43] MrDarpan commented on #97
I want to use this lib in my web application, if these examples are ment to be run via command line then is there any alternative or tutorial for this to run via web browser? I am new to AdWords..

[2015-09-24 16:25] vtsao commented on #97
The GetRefreshToken example must be run via the command line since it requires user input and is a one-time setup step. It is a helper example for you to get your OAuth2 offline refresh token.

The rest of the examples should work in a web application, but you may need to tweak some things, such  as printing output to the webpage instead of STDOUT.

[2015-10-07 16:19] litan1106 opened #98 "v201509 released"
v201509 released

[2015-10-07 16:24] vtsao commented on #98
Did you have a question?

[2015-10-07 17:15] litan1106 commented on #98
The v201509 is available.

[2015-10-07 17:18] litan1106 commented on #98
Can I use the v201509 with this php-lib?

[2015-10-07 17:18] vtsao commented on #98
Are you asking for when support for this will be available in this client library? A new version of this client library will be updated with AdWords v201509 support in the next few days.

[2015-10-13 07:59] hakimio commented on #4
Do you finally have an ETA for this feature request?
Also when will you fix your phpdoc?

[2015-10-13 08:33] florianeckerstorfer opened #99 "Unmarshalling Error: cvc-type.2"
I'm having a a problem when trying to ADD or SET campaigns and getting the following error

[code]

PHP version: 5.6.14
Lib version: 6.3.0

[2015-10-13 08:35] fiboknacky commented on #99
Do you use our example files or write your own codes?
If you use your codes, could you please share them here?

[2015-10-13 08:48] florianeckerstorfer commented on #99
I am using my own code, which is pretty generic to create Campaign objects based on my database.

Please note that the objects starting with `AdWords` are the objects from the library, while the ones without are my internal entities.

[code]

[2015-10-13 13:55] vtsao commented on #4
@hakimio No ETA yet. We are actually rewriting the client library, so it's not just namespacing the existing one.

[2015-10-13 14:04] florianeckerstorfer commented on #99
Maybe I should add that this code worked for the past two years. I upgraded to the versions mentioned in the ticket today, the error occurred also when using the v201502 API version and on PHP 5.4

[2015-10-13 15:56] fiboknacky commented on #99
Could you please send me your SOAP logs (make sure you strip off confidential information)?

[2015-10-14 09:14] florianeckerstorfer commented on #99
I found that removing the settings make things work and by closely looking at the `soap_xml.log` I found that the same settings are transferred multiple times. (Probably a problem with duplicate data in my database.)

Would it be possible to get better error handling for this kind of problems in the future.

[code]

[2015-10-14 09:29] florianeckerstorfer commented on #99
Forget what I assumed in the last comment. I fixed up my database and tried again and the unmarshalling error also happens if there is only one setting per type.

[code]

[2015-10-15 03:59] fiboknacky commented on #98
AdWords v201509 has just been released.
Please find the recent version [here](https://github.com/googleads/googleads-php-lib/releases/tag/6.4.0).

[2015-10-15 03:59] #98 closed

[2015-10-15 04:09] fiboknacky commented on #99
In your  `function convertSetting(Setting $input)`, you return `$settings = null` in the last branch of if clause.
This is in turn added into `$campaign->settings` in your main function and finally got converted into `<ns1:settings/>` in a SOAP request.

Are you sure you need that last branch of if clause?
In AdWords API, [Settings](https://developers.google.com/adwords/api/docs/reference/v201509/

[2015-10-15 04:09] #99 closed

[2015-10-30 15:01] hakimio commented on #96
v6.4.0 release notes state that this bug was fixed but there are still loads of "@return the something" in the source...

[2015-10-30 18:54] vtsao opened #100 "Fix @return PHPDoc usage."
We have "@return description" in a few places in our code, where it should be "@return [type] description". This should be fixed.

[2015-10-30 18:54] vtsao commented on #100
Knack can you please take a look at this when you have a chance.

[2015-10-30 18:56] vtsao commented on #96
This issue was specifically for GetService, which was fixed in:
https://github.com/googleads/googleads-php-lib/releases/tag/6.4.0

as you mentioned. I filed #100 to go through and fix other occurrences of this.

[2015-10-30 18:56] #96 closed

[2015-11-02 15:33] litan1106 commented on #25
I hope that there is support for hhvm later.

[2015-11-06 09:52] josipjelic opened #101 "BatchJobHelper missing in PHP lib?"
I'm trying to get use of BatchJobService... However docs are referring to BatchJobHelper which seems to be missing from the lib.

Form the docs:

Can anyone help me construct proper request and sent it to uploadUrl? Tnx.

[2015-11-06 09:54] fiboknacky commented on #101
We're currently developing the utility classes for using BatchJobService.
Sorry for this inconvenience.

[2015-11-06 09:57] josipjelic commented on #101
Wow that's great, any ETA on that?

[2015-11-06 12:30] bpsenthil commented on #101
$batchJobService = $user->GetService('BatchJobService', ADWORDS_VERSION);
   $operation1 = new BatchJobOperation();
   $operation1->operand = new BatchJob();
   $operation1->operator = 'ADD';
   $operations1[] = $operation1;

  $job = $batchJobService->mutate($operations1);
   echo '<br>batch_job_service';

    print_r($job);

Senthil Kumar [5:59 PM]
And this one was response :
-------------------

[2015-11-07 14:02] fiboknacky commented on #101
We're working on it, but no ETA at this time.
I'll reply to this issue once it has been released.

[2015-11-16 17:41] starrychloe opened #102 "Need a way to link PHP client version with Google AdWords API version"
How do we know that version 6.5 of the PHP client implements 201509 of the API version? There should be a table which shows the PHP client version and the API version that it implements.

[2015-11-17 07:57] fiboknacky commented on #102
Hello,

Everything about support or removal of API versions is listed up at [releases](https://github.com/googleads/googleads-php-lib/releases).
You can see that since v6.4.0 we provide support for v201509 of AdWords API.

In addition, you can also explore the [AdWords/](https://github.com/googleads/googleads-php-lib/tree/master/src/Google/Api/Ads/AdWords) folder directly to see if it contains a f

[2015-11-17 07:57] #102 closed

[2015-11-20 07:36] manishkvaish opened #103 "api code to get the creative code snippet from dfp account"
can we get the creative code snippet from my DFP account page to the outer world using DFP api

[2015-11-21 05:05] #103 closed

[2015-11-21 05:07] manishkvaish opened #104 "to get Tracking Urls from my DFP account page using DFP api"
can we get the Tracking Urls from my DFP account page  using DFP api

[2015-11-24 22:47] vtsao commented on #104
@manishkvaish since this isn't a PHP client library specific issue, general DFP API questions are better asked on the DFP API forums:
https://groups.google.com/forum/#!forum/google-doubleclick-for-publishers-api

Please post your question there and we can better assist you. Thanks.

[2015-11-24 22:47] #104 closed

[2015-11-26 14:17] woodworker opened #105 "Please use Namespaces"

[2015-11-26 14:19] woodworker opened #106 "Please provide constants as constants in the classes"
example: CustomTargetingValue matchType

why not adding the available match types as constants to the CustomTargetingValue class?

[2015-11-30 16:33] vtsao commented on #106
Hey @woodworker we are in the process of updating our client library with this support. Please follow #4 for updates.

[2015-11-30 16:33] #106 closed

[2015-11-30 16:33] vtsao commented on #105
Please follow #4 for updates.

[2015-11-30 16:33] #105 closed

[2015-12-13 18:23] fiatux opened #107 "Cannot call constructor"
When I run `BasicOperations/AddCampaigns.php` example on v201509, I get `Cannot call constructor` error on `CampaignService.php (line 7602)` when I comment out the line, campaigns are created.

[2015-12-14 15:56] vtsao commented on #107
Knack can you PTAL when you have a chance.

[2015-12-15 06:20] fiboknacky commented on #107
Hello @fiatux,

I can run the code without getting any errors.
Could you please provide more detail about your code and environment?
Do you use the latest version of client lib and what PHP version do you use?

Thanks,
Knack

[2015-12-15 19:54] starrychloe opened #108 "Please support Composer"
This library doesn't appear to work with Composer. See

http://stackoverflow.com/questions/34297226/how-do-i-instantiate-an-object-in-another-namespace-in-yii

and

http://stackoverflow.com/questions/31353444/how-do-i-require-a-file-or-class-in-a-vendor-library-in-yii2-that-is-not-already

[2015-12-15 20:17] vtsao commented on #108
There is a Composer file for this library, is it broken?
https://github.com/googleads/googleads-php-lib/blob/master/composer.json

We are also in the process of updating this library to conform to PSR-4 and be more modern in general. Please follow this issue for updates:
https://github.com/googleads/googleads-php-lib/issues/4

[2015-12-15 20:17] #108 closed

[2015-12-24 12:59] fiboknacky commented on #101
This is now available in [v7.0.0](https://github.com/googleads/googleads-php-lib/releases/tag/7.0.0).

[2015-12-24 12:59] #101 closed

[2016-01-04 19:25] #97 closed

[2016-01-04 19:27] vtsao commented on #94
Hi Will is this issue still occurring?

[2016-01-06 09:30] ALTELMA opened #109 "Can I run this libary on local machine?"
I cannot get refresh token, because an error 'uri_redirect_mismatch'.
I already create Ouath2. I do something wrong?

Please advice me, please.

[2016-01-06 10:26] fiboknacky commented on #109
Hi Phongthorn,

Have you followed our [get started guide](https://developers.google.com/adwords/api/docs/guides/start)?
From this [post](http://stackoverflow.com/questions/11485271/google-oauth-2-authorization-error-redirect-uri-mismatch), it's likely that you've not set up client id and secret correctly.

I recommend you to check your settings, especially those written in this [section](https://d

[2016-01-07 09:52] ALTELMA commented on #109
I apologized for unclear questions. I will access to DFP and I already from below list.

1. Already created credentials. I have client_id and client_secret.
2. Turn on API access in Dfp admin.
3. Store client_id, client_secret at "googleads-php-lib/src/Google/Api/Ads/Dfp/auth.ini"
4. I need refresh token, spend 1-2 to research how to get it.
5. Try to run GetRefreshToken.php in browser, before run

[2016-01-07 21:26] vtsao commented on #109
The error is pretty clear, you'll need to create a client ID and secret of type "installed application" on the Google Developer console (it may also be called "other").

You must run the GetRefreshToken.php example in a command line, it will not work in the browser.

Thanks,
Vincent

[2016-01-07 21:26] #109 closed

[2016-01-11 03:22] ALTELMA opened #110 "This package support PR-0?"
Sorry for newbie question. Now I use this package on laravel 5.1 and I don't know how to use in on laravel. Can suggest me, please.

[2016-01-11 09:19] alancoleman commented on #94
This looks familiar as I had a similar issue a when I started using this API a few years ago, it too was also an intermittent issue It turned out to be a lack of IPV6 support on our host.

Checkout a conversation I had with Danial Klimkin:

https://groups.google.com/forum/#!searchin/adwords-api/ipv6/adwords-api/6o6fKbvluNw/ZoJon0Xr86EJ

It may be worth trying a small edit to the MakeRequest functi

[2016-01-11 19:24] vtsao commented on #110
I'm not familiar with Laravel and if it needs some special requirements then we do not currently support it. We don't currently support PSR-4 in this library, but are working on it (see #4 for updates).

We do however support Composer - https://github.com/googleads/googleads-php-lib/blob/master/composer.json.

[2016-01-11 19:24] #110 closed

[2016-01-12 09:25] fiboknacky commented on #94
Thanks Alan for sharing us your workaround.

[2016-01-12 09:46] willatkins commented on #94
Thanks Alan!

I'll check it out.

Will

On Mon, Jan 11, 2016 at 9:19 AM, Alan Coleman <notifications@github.com>
wrote:

[2016-01-12 10:03] chiragvels commented on #94
Hello All,

For IPV6 issue, instead doing change in individual UTIL files, I would have solution by adding the line

$this->SetOpt($ch, CURLOPT_IPRESOLVE, CURL_IPRESOLVE_V4);

under CurlUtils.php located at Google/Api/Ads/Common/Util/.

I have faced this issue only to get refreshtoken using oauth.

Thanks,

[2016-01-13 08:48] alancoleman commented on #97
If you're starting out then Ewan Heming posted an excellent article about how to use OAuth 2 with the AdWords API - http://www.ewanheming.com/adwords-api-oauth-tutorial

Also, if you're running the example pages individually, you'll need to code out the return to display the results in browser....
[code]

[2016-01-13 08:52] amnartb opened #111 "Empty function used."
Hi,

php 5.4.4

I got "Fatal error: Can't use method return value in write context in \googleads\googleads-
php-lib\src\Google\Api\Ads\AdWords\Util\XmlDeserializer.php on line 182"
when I changed to "googleads-php-lib-v7.0.0".

Same case as issues [#49](https://github.com/googleads/googleads-php-lib/issues/49)

Please change.

[2016-01-13 10:45] fiboknacky commented on #111
We'll fix this soon, thanks for reporting.

[2016-01-21 10:56] DenisOgr opened #113 "Class 'ReportUtils' not found."
Hi.
I use this library with composer. After composer update (20.01.2016) I have begun get errors "Class 'ReportUtils'  not found."
I used this class:
[code]

I read that you have added version for this ReportUtils, but it does not work with composer (with autoload).
PS: I use v201506 version.
Can you solve this problem?

[2016-01-21 11:01] coodix commented on #113
My solution is to add next class mapping into autoload block in composer.json:
[code]

Suppose in your case you need to replace v201509 with v201506.

[2016-01-21 11:04] DenisOgr commented on #113
@coodix thanks, I think, it will be work, but I think, i bad way. It need to fix in repository.

[2016-01-21 14:47] denisoftus opened #114 "Fatal error: Can't use method return value in write context in XmlDeserializer.php"
Hi, getting:
Fatal error: Can't use method return value in write context in /adwords/googleads-php-lib/src/Google/Api/Ads/AdWords/Util/XmlDeserializer.php on line 182

Issue described here: http://stackoverflow.com/questions/1075534/cant-use-method-return-value-in-write-context

It seems only fixed in PHP 5.5+, doesn't work with PHP 5.3

[2016-01-21 14:53] fiboknacky commented on #114
This is already tracked in #111.
Thanks for reporting.

[2016-01-21 14:53] #114 closed

[2016-01-21 14:59] denisoftus commented on #114
Thanks, sorry I didn't recognised it from the headline. Will monitor 111 for fix.

[2016-01-22 15:12] hakimio opened #115 "Feature request: revoke access token example"
It would be nice if this library would provide revoke access token capability like the generic google API client library does: https://github.com/google/google-api-php-client/blob/master/src/Google/AccessToken/Revoke.php

[2016-01-22 15:33] fiboknacky commented on #113
Hi,

Thanks for reporting.
I'll look into this soon.

[2016-01-23 13:12] g3r3ly opened #116 "BatchJobService upload containing objects with "&" can't be serialized"
I have an XML product feed, which I was trying to process with BatchJobService, but in many cases an exception was thrown, saying "unterminated entity reference". This happened before the objects were uploaded to AdWords, so I took a look at the XmlSerializer utility, because I traced back the issue to ConvertObjectToElement method, line 83:

$element->nodeValue = self::ConvertObjectToNodeValue($o

[2016-01-25 12:49] fiboknacky commented on #116
Will look into this. Thanks for reporting.

[2016-01-26 04:19] vtsao commented on #115
Thanks for the feedback, will keep this in mind.

[2016-01-26 17:53] jamesaspence commented on #4
+1. We're integrating this library currently and would love PSR-4 support.

[2016-01-28 21:13] fiatux commented on #107
I am using 5.5.21

It works as follow, please note that parent construct caller is commented out:
[code]

[2016-02-01 06:10] olegkrivtsov opened #117 "PHP Fatal error: require_once(): Failed opening required '/home/oleg/share/crm/vendor/googleads/googleads-php-lib/src/Google/Api/Ads/AdWords/Lib/../v201502/ConversionTrackerService.php'"
Hi, our company uses this library for uploading offline conversions. Recently, we started to receive the following PHP error:

PHP Fatal error:  require_once(): Failed opening required '/home/oleg/share/crm/vendor/googleads/googleads-php-lib/src/Google/Api/Ads/AdWords/Lib/../v201502/ConversionTrackerService.php' (include_path='/home/oleg/share/crm/vendor/googleads/googleads-php-lib/src:.:/usr/shar

[2016-02-01 07:13] vtsao commented on #117
Knack PTAL.

[2016-02-02 09:59] fiboknacky commented on #117
Hello olegkrivtsov,

v201502 was already sunset and not supported.
Please migrate to use v201509 instead.

Migration to v201509 can be found [here](https://developers.google.com/adwords/api/docs/guides/migration/v201509).

For your information, as [AdWords API schedule has been adjusted](http://googleadsdeveloper.blogspot.com/2016/01/new-release-schedule-for-adwords-api.html), we may have January

[2016-02-02 09:59] #117 closed

[2016-02-02 15:41] fiatux opened #118 "Dynamic Refresh Token"
While handling more than Adwords Account, how should I set refresh_token of AdwordsUser during a request?

From what I understand I can keep client ID, client Secret and developer token as static, but I need to change client customer ID and refresh token for each Adwords Account. If that's right what is the best way to achieve this?

[2016-02-02 15:56] vtsao commented on #118
You should create a new AdWordsUser for each account you're managing. You can set everything you need in the AW user constructor:
https://github.com/googleads/googleads-php-lib/blob/master/src/Google/Api/Ads/AdWords/Lib/AdWordsUser.php#L94

Hope this helps.

[2016-02-02 15:56] #118 closed

[2016-02-03 17:25] fiboknacky commented on #111
Fixed with release version [8.0.0](https://github.com/googleads/googleads-php-lib/releases/tag/8.0.0)

[2016-02-03 17:25] #111 closed

[2016-02-03 17:26] fiboknacky commented on #116
Fixed with release version [8.0.0](https://github.com/googleads/googleads-php-lib/releases/tag/8.0.0)

[2016-02-03 17:26] #116 closed

[2016-02-03 17:27] fiboknacky commented on #100
This was fixed in release version 7.0.0

[2016-02-03 17:27] #100 closed

[2016-02-04 10:52] fiboknacky commented on #107
Hello @fiatux,

One thing I can think of now is your parent class of GeoTargetTypeSetting, which is Setting, might be hidden by another class with the same name in your system.
That error indicate that your class has no constructor, which is not possible, if [Setting](https://github.com/googleads/googleads-php-lib/blob/master/src/Google/Api/Ads/AdWords/v201509/CampaignService.php#L3810) is properl

[2016-02-04 10:58] fiatux commented on #107
That may be it because I have a class named Setting in my system, which brings us the namespacing problem. When will this SDK have a proper namespace scope so that users won't experience this kind of stuff?

[2016-02-04 11:16] fiboknacky commented on #107
We are rewriting the client library, which will support namespacing, but no ETA yet.
Please stay tuned at #4 for updates.

[2016-02-04 11:16] #107 closed

[2016-02-09 12:24] chiragvels opened #119 "XmlSerializer.php issue at line 128 with PHP 5.3.3"
Hello,

This library is not supporting XmlSerializer.php with PHP 5.3.3 and lower.
The line 128 strval(htmlspecialchars($object, ENT_XML1, 'UTF-8')); is not supporting.

Giving error undefined constant.

So i think readme needs to update PHP 5.4.0 or higher version.

As per php here http://php.net/htmlspecialchars  the ENT_XML1 was added only after 5.4.0

Thanks

[2016-02-09 17:30] vtsao commented on #119
@fiboknacky we need to not use ENT_XML1.

[2016-02-22 17:37] vtsao commented on #72
Merging this with #4.

[2016-02-22 17:37] #72 closed

[2016-02-22 17:51] vtsao commented on #4
FYI we have just released a new beta version of this library, please see our blog post for details:
http://googleadsdeveloper.blogspot.com/2016/02/announcing-beta-release-of-new-ads-php.html

[2016-02-22 18:37] onema commented on #4
This is really awesome good job @vtsao!

[2016-02-23 20:38] vtsao commented on #119
Fixed in https://github.com/googleads/googleads-php-lib/releases/tag/8.1.0.

[2016-02-23 20:38] #119 closed

[2016-02-24 07:14] fiboknacky commented on #113
Hello,

We decided not to modify composer.json in this branch.
This is because it requires us to change all underlying classes in [Util](https://github.com/googleads/googleads-php-lib/tree/master/src/Google/Api/Ads/AdWords/Util) to have a namespace, which makes the lib in an inconsistent state (only some have namespaces).

We've updated the workaround in the [README.md](https://github.com/googlead

[2016-02-24 07:14] #113 closed

[2016-02-24 07:15] fiboknacky commented on #94
@willatkins
Have you still faced with this issue recently?

[2016-02-24 10:28] ThatCheck opened #120 "Report download with experimental"
Hi,
I'm trying to integrate PSR-4 update from the googleads-php-lib. I have no problem when I use it to manage campaign etc. But now I'm trying to download some report like "KEYWORDS_PERFORMANCE_REPORT" . And I don't see any class to do this.

Did I miss something?

Thanks.

[2016-02-24 16:29] db-ryan opened #121 "Can not set NetwordSearchParameter (Network Search Parameter, Network Setting)"
Everything is working fine but when I try to set the NetworkSearchParameter to only use Google Search results it doesn't seem to return the correct values.

My code is

$networkSearchParameter = new NetworkSearchParameter();
$networkSearchParameter->networkSetting = 'targetGoogleSearch';
$selector->searchParameters[] = $networkSearchParameter;

Is there something I am missing here?  The documentat

[2016-02-24 16:41] db-ryan commented on #121
Also tried:
$networkSearchParameter = new NetworkSearchParameter();
$networkSetting = new NetworkSetting();
$networkSetting->targetGoogleSearch = true;
$networkSearchParameter->networkSetting = $networkSetting;
$selector->searchParameters[] = $networkSearchParameter;

[2016-02-24 16:52] db-ryan commented on #121
And:
$networkSetting = new NetworkSetting();
$networkSetting->targetGoogleSearch = true;
$selector->networkSetting = $networkSetting

[2016-02-24 21:49] vtsao commented on #121
Knack can you PTAL.

[2016-02-24 21:50] vtsao commented on #120
Hey there, thanks for trying out the new beta library. We haven't yet ported over the reporting utilities for AdWords yet, but will soon.

[2016-02-24 21:53] db-ryan commented on #121
I was able to get this solved with some help from the forum...I really couldn't find this info anywhere online so maybe it would be nice for future googlers?
``
	// Show results only from Google Search
	$networkSearchParameter = new NetworkSearchParameter();
	$networkSetting = new NetworkSetting();
	$networkSetting->targetGoogleSearch = true;
	$networkSetting->targetSearchNetwork = false;
	$networ

[2016-02-24 22:53] #121 closed

[2016-02-25 05:47] fiboknacky commented on #121
Hello,

The information about how to set `NetworkSearchParameter` to only use Google Search is documented in this [Generating Targeting Ideas](https://developers.google.com/adwords/api/docs/guides/targeting-idea-service#select_the_right_network) guide.
Feel free to give a feedback if you think it's not clear enough. :)
Though the code example is in Java, you can port to PHP easily, I think.

As an

[2016-02-25 15:19] db-ryan commented on #121
Many thanks,

I didn't realize that some of the documentation for the PHP library would
be found there.

"One of the most common mistakes is not specifying the
NetworkSearchParameter." -This makes me feel pretty dumb.

One suggestion:
It might be nice to show an implementation of this in one of the PHP
examples such as
/examples/AdWords/v201509/Optimization/GetKeywordIdeas.php.  It is
difficult to

[2016-02-26 06:13] fiboknacky commented on #121
Thanks for feedback.
We'll take that into consideration.

[2016-02-27 13:38] marcinrosinski opened #122 "Class 'ReportUtils' not found - composer"
Hi there,

looks like something is broken in 8.1.0 as getting: `Class 'ReportUtils' not found` - all works fine in previous version, any ideas?

[2016-02-27 13:45] marcinrosinski commented on #122
just checked, same issue in 7.0.0 to reproduce try:

[code]

works in 6.6.0 but not above, tested under composer

[2016-02-29 04:06] fiboknacky commented on #122
Hello @marcinrosinski

Please see the discussion in #113 and [README.md](https://github.com/googleads/googleads-php-lib/blob/master/README.md) if you use composer.

Cheers,
Knack

[2016-02-29 04:06] #122 closed

[2016-03-08 21:08] #94 closed

[2016-03-10 09:42] networxdevelopers opened #123 "Xml Deserializer Issue"
I am trying to use the new Batch Job Service for the API in PHP. I am sending both CampaignCriterion and NegativeCampaignCriterion to adwords.  Both are getting updating in adwords correctly.

However, when I try to parse the XML file using the XmlDeserializer(Google/Api/Ads/AdWords/Util/XmlDeserializer.php) , I am getting a fatal error when it tries parsing a  'CampaignCriterion'.

PHP Fatal erro

[2016-03-10 10:34] fiboknacky commented on #123
Thanks for reporting this issue.
We'll fix this and update this thread once finished.

[2016-03-16 17:25] opaessens opened #125 "ErrorException: the 'CN_match' SSL context option is deprecated in favor of 'peer_name'"
While playing with your example from the docs, an error exception occured.

The code from your example:

[code]

Changing SSL settings in Common/AdsServicesSoapClientFactory.php from:

[code]

to

[code]

solves the issue. But I'm not sure if this leads to other issues :-)

Running an Vagrant/Homestead box:

with

No SSL activated on vHost.

[2016-03-16 18:25] vtsao commented on #125
Thanks for reporting this, fixing SSL issues is one of our next major things to do with the experimental version. So I'll look into this.

[2016-03-16 22:08] konstantinnikiforov commented on #101
can't find BatchJobHelper in v7.0.0. Can you point me on a file path and exact line where this class has defined there?

[2016-03-17 05:59] fiboknacky commented on #101
Hello @konstantinnikiforov,

Sorry for this confusion, but It's named [BatchJobUtils](https://github.com/googleads/googleads-php-lib/blob/daf1a1bfa6bef01317da7860fc59bcfe7635e52e/src/Google/Api/Ads/AdWords/Util/v201509/BatchJobUtils.php) in this library.
You can also find how to use this util class at [AddCompleteCampaignsUsingBatchJob.php](https://github.com/googleads/googleads-php-lib/blob/daf1a

[2016-03-17 12:36] Em-PredragMilosevic opened #126 "Example script doesn't work properly"
Hi,

In example script <code>examples/Dfp/v201602/CustomTargetingService/GetAllCustomTargetingKeysAndValues.php
</code>, $statementBuilder offset should be set to 0 after do-while loop.

Script currently doesn't fetch all values because $statementBuilder makes requests with offset from previous loops.

[2016-03-17 13:01] vtsao commented on #126
Thanks for reporting this, will look into it.

[2016-03-17 17:45] vtsao commented on #126
This will be fixed in the next release.

[2016-03-18 09:22] Em-PredragMilosevic commented on #126
Thanks

[2016-03-19 03:51] konstantinnikiforov commented on #101
thank you @fiboknacky

[2016-03-23 11:46] janakprajapati opened #127 "BatchJobService - DUPLICATE_ADGROUP_NAME - Xml Deserializer Issue"
Hi,

We noticed that, the ConvertXmlToObject() function of the XmlDeserializer class is not processing the errorList object correctly in case the error response is regarding DUPLICATE_ADGROUP_NAME. While processing, it throws an Exception ("Property _parameterMap does not exist") instead.

Here is the BatchJobService (XML) response for your reference,

`<?xml version="1.0" encoding="UTF-8"?><mutat

[2016-03-23 12:25] fiboknacky commented on #127
Hi Janak,

Thanks for reporting.
We're fixing this and will let you know once it's fixed.

Best,
Knack

[2016-03-23 17:26] bhdouglass opened #128 "XmlDeserializer fails to deserialize a CriterionPolicyError"
The XmlDeserializer fails to deserialize a CriterionPolicyError with the following exception: `ReflectionException: Property _parameterMap does not exist`. This is because the CriterionPolicyError is a child class to PolicyViolationError and the PolicyViolationError class does not have a _parameterMap property (but PolicyViolationError's parent class ApiError does). I've worked around the issue by

[2016-03-24 06:25] fiboknacky commented on #128
Thanks for reporting this.
I'll look into this and update this thread when it's fixed.

Knack

[2016-03-24 12:50] bhdouglass commented on #128
Thank you!

[2016-03-25 05:46] fiboknacky commented on #123
This is now fixed with [v8.2.0](https://github.com/googleads/googleads-php-lib/releases/tag/8.2.0)

[2016-03-25 05:46] #123 closed

[2016-03-25 05:46] fiboknacky commented on #126
[v8.2.0](https://github.com/googleads/googleads-php-lib/releases/tag/8.2.0) fixed this issue.

[2016-03-25 05:46] #126 closed

[2016-03-28 14:34] janakprajapati opened #129 "AdPolicyError.POLICY_ERROR - BatchJobService - XmlDeserializer"
Hi,

We are getting the following exception with AdPolicyError.POLICY_ERROR through new BatchJobService.

`Property _parameterMap does not exist`

We have already notified (#127) about similar issue with DUPLICATE_ADGROUP_NAME type error. Also, few other members have notified same issue with other error types. Basically, the issue is with the XmlDeserializer.

We are stuck in the migration process

[2016-03-28 15:04] vtsao commented on #129
Knack can you PTAL.

[2016-03-29 10:57] fiboknacky commented on #127
Hi Janak,

Could you please check if you have included the [report classes](https://github.com/googleads/googleads-php-lib/blob/master/src/Google/Api/Ads/AdWords/Util/v201601/ReportClasses.php) when you deserialize this XML payload?
Its [ApiError](https://github.com/googleads/googleads-php-lib/blob/master/src/Google/Api/Ads/AdWords/Util/v201601/ReportClasses.php#L37), though having the same name a

[2016-03-29 10:57] #127 closed

[2016-03-29 11:21] fiboknacky commented on #129
Hello Janak,

As I commented in #127, could you please check if you have included the report classes when you deserialize this XML payload?
Its ApiError, though having the same name as other ApiError classes, such as that of AdGroupService doesn't contain the _parameterMap variable.

So far, I've found that some people include report classes during deserializing batch job responses and got this er

[2016-03-29 11:21] #129 closed

[2016-03-29 11:42] janakprajapati commented on #127
Hi Knack,

I checked, we are not including the ReportClasses.php file in our class (we have implemented specific wrapper class for Adwords API which we use in our apps). Following is the list of files we have included in our class file. Our class extends the AdWordsUser class. The "api/google_v201601/" is specific path on our the system where we have installed the library code.

require_once 'api/

[2016-03-29 13:32] fiboknacky commented on #127
Hi Janak,

require_once 'api/google_v201601/AdWords/Util/v201601/ReportUtils.php';

This does include ReportClasses.php, which contains class ApiError.
This hides class ApiError needed for deserialization of BatchJobUtils.

Best Regards,
----
Thanet (Knack) Praneenararat
Developer Programs Engineer
Google Inc.
Tokyo, Japan

On Tue, Mar 29, 2016 at 8:42 PM, janakprajapati <notifications@github.com>

[2016-03-29 13:48] janakprajapati commented on #127
Hi Knack,

I see that, we are including ReportUtils.php class file along with other required class files in our implementation. This class file itself includes the ReportClasses.php file in it.

We have implemented our own class file which includes specific functions for Adwords API related services that we want to use in our apps. In this file, on the top, we have included all the required files

[2016-03-29 13:57] fiboknacky commented on #127
Hello Janak,

I'm afraid that until #4 (namespacing support) gets resolved, the best solution for now is as you said:

This shouldn't create any other issues. It's just no so convenient for you.

Cheers,
Knack

[2016-03-29 14:14] janakprajapati commented on #127
Hi Knack,

Thanks for your quick reply. Appreciated.

Cheers,
Janak

[2016-03-30 06:27] Hujjat opened #130 "Uncaught SoapFault exception"
Hi,

I am new to adwords api. I use the following code but I get error. I have Test account

`<?php
require_once 'Google/Api/Ads/AdWords/Lib/AdWordsUser.php';

$username = "myemail@gmail.com";
$password = "mypassword";
$currencyCode = "USD";
$developerToken = "$username++$currencyCode";

$user = new AdWordsUser(null, $username, $password, $developerToken);
$user->SetDefaultServer("https://sandbox.

[2016-03-30 07:07] fiboknacky commented on #130
Hello Hujjat,

You shouldn't set up the server like that. It's the invalid URL, so the exception was thrown.
I highly recommend you to start from our [examples directories](https://github.com/googleads/googleads-php-lib/tree/master/examples/AdWords), e.g., [GetCampaigns](https://github.com/googleads/googleads-php-lib/blob/master/examples/AdWords/v201603/BasicOperations/GetCampaigns.php).
In this w

[2016-03-30 07:07] #130 closed

[2016-04-01 13:08] BenMorel commented on #4
:+1: Good stuff, can't wait to have the new version officially released!

[2016-04-05 05:43] fiboknacky commented on #128
This is fixed with [v8.2.1](https://github.com/googleads/googleads-php-lib/releases/tag/8.2.1)

[2016-04-05 05:43] #128 closed

[2016-04-05 14:18] bhdouglass commented on #128
That works wonderfully, thank you!

[2016-04-06 12:40] hakimio opened #131 "Missing parameter type declarations in PHPDoc"
"@param $serviceName the service name" should be replaced by "@param string $serviceName the service name" in AdwordsUser->LoadService() function definition.

Also, this bug is present in most of the service classes - parameter types are missing.

[2016-04-06 12:41] fiboknacky commented on #131
Thanks for reporting. We'll look into this.

[2016-04-19 06:13] vedebel opened #132 "Too many open files"
Hello,

I have an error like "Too many open files" when background process which makes requests to Adwords API is running for a long time. I watched opened file descriptors with **lsof** utility and found that the process  incrementaly opens new connections to Google servers but doesn't fully close them.

There is small log after couple of minutes of process running. You can see that many connecti

[2016-04-19 06:17] fiboknacky commented on #132
What codes have you run? Could you please share your snippet?
And in what environments (e.g., Apache in Linux) is your program running on?

[2016-04-19 06:37] vedebel commented on #132
This problem was detected on Linux (CentOS 7, Ubuntu 14.04), PHP 7.0.5.
Script runs as background process (cli-mode).

A huge amount of methods is called creating campaigns, ad groups, ads, keywords. Not sure if I can give you just a snippet.

[2016-04-19 06:44] fiboknacky commented on #132
Thanks for information.
I've never got reports about this before.
But as you said that it's a huge number of methods, it is expected to have a lot of connections occurring via SOAP calls.

Have you tried raising up the limits as suggested in [this post](http://stackoverflow.com/a/14749074)?

[2016-04-19 07:03] vedebel commented on #132
Yes, I raised fs.file-max to 1 000 000 and user limit to 500 000, but it is not enough if I have couple of processes that run for a long time.

Is there a way to close connection after request or reuse it?

[2016-04-19 07:30] vedebel commented on #132
I created some kind of cache for services and it looks good.
I use creating service client if it is in cache or create it and add in cache.

[2016-04-21 09:19] fiboknacky commented on #132
The connection is handled by PHP's [SoapClient](http://php.net/manual/en/class.soapclient.php).
As far as I've researched so far, there is no method that we can use to explicitly close the connection.

But your idea of caching looks good. We should reuse the service clients when possible.

[2016-04-25 19:27] litan1106 opened #133 "We got CLIENT_NOT_AUTHORIZED error from the AdWords API."
We got CLIENT_NOT_AUTHORIZED error from the AdWords API.

We are managing the client's account and it's active.

Response Code: 400
Error Message: Report download failed. Underlying errors are
Type = 'LoasAuthenticationError.CLIENT_NOT_AUTHORIZED', Trigger = '<null>', FieldPath = ''.

[2016-04-25 20:03] dklimkin commented on #133
It looks like a temporary problem on our side. This issue should now be resolved.

[2016-04-25 20:03] #133 closed

[2016-04-27 06:53] omergisha opened #135 "access_type=offline not enough for getting refresh token on subsequent calls"
Hi,
I got stuck on this for a few hours.

In `GoogleCredential->getAuthorizationUrl()` you can set the `$offline` parameter as true to set the query parameter `'access_type=offline'`.
This is done in order to get the refresh token, as in the documentation:

And in the PHPDOC `@param boolean $offline whether or not to request offline access (aka a refresh token), false by default`

This does not wo

[2016-04-28 20:13] vtsao commented on #135
Hey, thanks for reporting this. We're working on replacing the OAuth2 code in the experimental library with the Google auth PHP library instead:
https://github.com/google/google-auth-library-php

so we won't be making any changes to this code.

[2016-04-28 20:13] #135 closed

[2016-05-01 17:29] Hujjat opened #136 "Can I make a seo key generator with this lib?"
Hi,
Sorry if I am asking a question not an issue.
I have search a lot to make a site like http://keywordtool.io/. And I come to this library.
I am a php developer. I want to know, can I make a system to let people search words and than it should query the word list with price per click, popularity etc... using this library or not?. I mean alike to keywordtool.io.

Please help.
thanks :)

[2016-05-02 15:17] vtsao commented on #136
Hello:

No, this library is for the AdWords and DFP SOAP APIs.

Thanks,
Vincent

[2016-05-02 15:17] #136 closed

[2016-05-05 09:50] fiboknacky commented on #132
Hi @vedebel,

Are you still faced with the issue?
If there's anything we can help, please let us know.

Knack

[2016-05-06 18:07] tomarius2000 opened #137 "throw new ReportDownloadException"
For Adwords PHP API Library in this file: adwords/lib/Google/Api/Ads/AdWords/Util/v201603/ReportUtils.php there are bunch of these: throw new ReportDownloadException ("blahblah") but ReportDownloadException __construct requires two arguments: public function __construct($error, $httpCode)

Here is the constructor:
public function __construct($error, $httpCode) { parent::__construct($error); $this-

[2016-05-06 18:10] vtsao commented on #137
Knack, PTAL.

[2016-05-06 21:20] vtsao commented on #4
FYI we've made another release of the beta version of this client library to the experimental branch. Please check it out and see the [changelog](https://github.com/googleads/googleads-php-lib/blob/experimental/CHANGELOG.md) for more information.

[2016-05-06 21:22] vtsao commented on #125
SSL has been enabled by default in the beta version of this client library (we won't be fixing the current version as we're focusing efforts on getting the beta version to stable). Please check out the [changelog](https://github.com/googleads/googleads-php-lib/blob/experimental/CHANGELOG.md) for details.

[2016-05-06 21:22] #125 closed

[2016-05-06 21:26] vtsao commented on #115
The beta version of this client library now uses the [Google Auth PHP library](https://github.com/google/google-auth-library-php), instead of this library having its own OAuth2 code. So please check out that library to see if they support this, or file a similar feature request.

We won't be adding any OAuth2 features to the current client library as we're focusing efforts on getting the beta vers

[2016-05-06 21:26] #115 closed

[2016-05-06 23:53] vtsao commented on #77
The beta version of this client library now uses the [Google Auth PHP library](https://github.com/google/google-auth-library-php), instead of this library having its own OAuth2 code. That OAuth2 library supports service accounts (JSON key files). Thus, you can now use service accounts with the beta version of this library.

[This wiki page](https://github.com/googleads/googleads-php-lib/wiki/%5BEX

[2016-05-06 23:53] #77 closed

[2016-05-07 00:05] vtsao opened #138 "Namespace library and conform to PSR-4."
Namespace this library and conform to [PSR-4](http://www.php-fig.org/psr/psr-4/).

[2016-05-07 00:05] vtsao commented on #138
Done in the 1.0.0-beta release. In experimental branch:
https://github.com/googleads/googleads-php-lib/tree/experimental

[2016-05-07 00:05] #138 closed

[2016-05-10 11:47] fiboknacky commented on #137
Thanks for reporting. We'll fix this soon.

[2016-05-12 10:38] thierrymarianne commented on #4
@vtsao Excellent work! Thank you!

[2016-05-17 17:33] vtsao commented on #131
Fixed with release 9.0.0:
https://github.com/googleads/googleads-php-lib/releases/tag/9.0.0

[2016-05-17 17:33] #131 closed

[2016-05-17 17:33] #132 closed

[2016-05-25 11:26] Eldair opened #139 "Undefined index: type when ReportDownloadException is thrown"
Hello,

There is an error message `Undefined index: type` when ReportDownloadException is thrown from ReportUtils DownloadReport method.

` #message: "Undefined index: type"
  #code: 0
  #file: "/home/vagrant/Code/dashboard/vendor/googleads/googleads-php-lib/src/Google/Api/Ads/AdWords/Util/XmlDeserializer.php"
  #line: 136`

Regards,
Kristijan

[2016-05-25 11:30] fiboknacky commented on #139
Could you please provide more info, like ReportDefinition you used or code snippet?
Did you run our example file directly?

Thanks,
Knack

[2016-05-25 11:50] Eldair commented on #139
This is the code I used:
`
$response = ReportUtils::DownloadReport($this->apiRequest, null, $this->client, $options);
`
$this->apiRequest contains ReportDefinition objec and $this->client is AdWordsUser object.

I didn't run the example file and I did find the real error in stack but am reporting this because I'm unable to catch the real error properly because of this.
I'm pasting it below.

[code

[2016-05-25 11:53] fiboknacky commented on #139
Thank for information.
What is your report definition?
That's vital for debugging.

[2016-05-25 12:00] Eldair commented on #139
Here it is:
[code]

Also, this happens no matter what the real error is and everything does work fine if there is no error in the first place.

[2016-05-25 12:08] fiboknacky commented on #139
I can't reproduce the error.
If you specify wrong fields, it will produce an error like this:

[code]

[2016-05-25 12:40] Eldair commented on #139
Yes, with new ReportDefinition and new Selector.
It all works fine if there is no error (in case above when I remove CampaignId field).

[2016-05-25 12:41] fiboknacky commented on #139
I meant even if you specify wrong field (like CampaignId) in this case, it will not fail like that.
What it should produce will look like what I showed in my last comment.

[2016-05-25 12:44] Eldair commented on #139
I understand.. but it doesn't ): even for the error when segmen/metric fields combination is not good I still get what I pasted.
I will try to investigate some more and add more info here if I find some.

[2016-05-25 12:44] fiboknacky commented on #139
One possible issue I can think of for now is, if you import all classes into the system, you may run into the situation where [ApiError](https://github.com/googleads/googleads-php-lib/blob/master/src/Google/Api/Ads/AdWords/v201603/CampaignService.php#L41) of SOAP services (such as CampaignService) is used instead of that of [ReportClasses](https://github.com/googleads/googleads-php-lib/blob/master

[2016-05-25 13:29] Eldair commented on #139
Yes, you were correct. Wrong ApiError was being used.

This is what caused the problem
In example: `$user->LoadService('ReportDefinitionService', ADWORDS_VERSION);`
In my case: `$this->client->LoadService('ReportDefinitionService', $this->apiVersion);`

[2016-05-25 14:27] #139 closed

[2016-05-25 14:32] fiboknacky commented on #139
Great that you can find the cause. Feel free to ask if you have more questions.
Closed this for now.

[2016-05-30 06:02] fiboknacky commented on #137
This is fixed in version [9.1.0](https://github.com/googleads/googleads-php-lib/releases/tag/9.1.0)

[2016-05-30 06:02] #137 closed

[2016-06-14 10:36] AkaneKuriyama opened #140 "Warning: include_once(string.php): failed to open stream: No such file or directory"
Hi,
I'm trying to get the report to a Non-existent account for the test of the error processing.
There is an error message.

[code]

Development environment

[code]

Please help me.

Regards,
Akane

[2016-06-14 10:40] fiboknacky commented on #140
Hello Akane,

Could you please provide more information as follows:

- Have you run our example file as is?
- If not, could you provide more detail about how you incorporate our lib to your system, e.g., the contents of file that you ran and got this error, how did you use the DownloadReport method.

Best,
Thanet, AdWords API Team

[2016-06-14 11:03] AkaneKuriyama commented on #140
We did this in reference
https://github.com/googleads/googleads-php-lib/blob/master/examples/AdWords/v201605/Targeting/AddCampaignTargetingCriteria.php

[code]

[2016-06-14 11:15] AkaneKuriyama commented on #140
Is probably an error occurred here...

[code]

[2016-06-14 12:08] fiboknacky commented on #140
Thanks for more information.
I guess you copied a wrong link, right?
Your file seems to be copied from [DownloadCriteriaReport.php](https://github.com/googleads/googleads-php-lib/blob/master/examples/AdWords/v201605/Reporting/DownloadCriteriaReport.php)

From what you've posted, I can't see any mistakes.
What happened if you run our [DownloadCriteriaReport](https://github.com/googleads/googleads-p

[2016-06-14 13:26] AkaneKuriyama commented on #140
Thank you for reply!
I'm sorry the link is wrong.You are right.

Is this the SOAP log ?
report_download.log

[code]

[2016-06-14 14:32] fiboknacky commented on #140
Hi Akane,

It seems your OAuth credentials don't match the client ID you specified, or any of its manager accounts.
Could you please check your credentials and our [guide](https://github.com/googleads/googleads-java-lib/wiki/API-access-using-own-credentials-(installed-application-flow)#step-2---setting-up-the-client-library) again?

Cheers,
Knack

[2016-06-16 00:39] AkaneKuriyama commented on #140
Hi Knack,

Thank you for advice.
Sample code has running successfully.
Problem was a different place.
Thank you very much!!><

Regards,
Akane

[2016-06-16 05:20] starrychloe opened #141 "Non-static method ReportUtils::DownloadReportWithAwql() should not be called statically"
I updated to the latest version of Google API v201605, but now I get this error when fetching a report.

PHP Deprecated Warning 'yii\base\ErrorException' with message 'Non-static method ReportUtils::DownloadReportWithAwql() should not be called statically, assuming $this from incompatible context'

It still shows a static method call in the documentation.

https://developers.google.com/adwords/api

[2016-06-16 05:31] fiboknacky commented on #140
Hello Akane,

I'm glad to hear that.
Feel free to ask for help if you have questions in the future.

Cheers,
Knack

[2016-06-16 05:31] #140 closed

[2016-06-16 05:40] fiboknacky commented on #141
Hello,

In [v10.0.0](https://github.com/googleads/googleads-php-lib/releases/tag/10.0.0), we've refactored and changed the method to non-static.
So, please refer to the [updated example](https://github.com/googleads/googleads-php-lib/blob/master/examples/AdWords/v201605/Reporting/DownloadCriteriaReportWithAwql.php#L70) bundled with the release.

As for the documentation, sorry for your inconvenien

[2016-06-16 05:40] #141 closed

[2016-06-22 15:55] vtsao commented on #120
We've added AdWords reporting utils to the beta version of this library now:
https://github.com/googleads/googleads-php-lib/tree/experimental

[2016-06-22 15:55] #120 closed

[2016-06-22 15:56] vtsao commented on #4
We've made another beta update (1.3.0-beta):
https://github.com/googleads/googleads-php-lib/tree/experimental

Check out the changelog here:
https://github.com/googleads/googleads-php-lib/blob/experimental/CHANGELOG.md

[2016-06-26 12:18] MordiSacks opened #142 "When Will we be able to use server to server OAuth?"
When Will we be able to use server to server OAuth?
(jsonfile)

[2016-06-27 08:31] vtsao commented on #142
Hello:

Only the experimental version of this client library supports OAuth2 service accounts via JSON key files:
https://github.com/googleads/googleads-php-lib/blob/experimental/CHANGELOG.md#110-beta

Thanks,
Vincent

[2016-06-27 08:31] #142 closed

[2016-06-30 23:18] shakaran opened #143 "Undefined function posix_getpwuid() for Eclipse IDE or Windows"
Trying to load the OAuth2 credendials and running with Eclipse IDE in console:

    $oAuth2Credential = (new OAuth2TokenBuilder())
    ->fromFile()
    ->build();

I get this error, since in the php-cli for Eclipse IDE doesn't exist defined the php function posix_getpwuid:

     PHP Fatal error:  Call to undefined function posix_getpwuid() in somepath/vendor/googleads/googleads-php-lib/src/Google/

[2016-07-01 00:03] shakaran commented on #143
I forgot to mention that it is experimental branch, (sorry I don't permissions to add Labels to the issue)

[2016-07-01 09:59] vtsao commented on #143
Thanks for filing this, will look into it.

[2016-07-04 05:10] shakaran opened #145 "Add BatchJobService support to beta client library."
As far I read here:

https://developers.google.com/adwords/api/docs/reference/v201605/BatchJobService.BatchJob#status

"For versions newer than V201509, make a POST request to the uploadUrl and retrieve the "Location" header from the response as the url to upload operations."

Other SDKs seem have a class BatchJobUploadHelper for poll or POST the upload url.

	$batch_job_service = $adWordsServices

[2016-07-04 05:41] fiboknacky commented on #145
Hello shakaran,

I suppose you're talking about our [experimental branch](https://github.com/googleads/googleads-php-lib/tree/experimental), right?
In that branch, we've not released the support for BatchJobService yet, so it might be not trivial if you would like to use that service currently.

On the other hand, our [main branch](https://github.com/googleads/googleads-php-lib/tree/master) does p

[2016-07-04 06:00] shakaran commented on #145
@fiboknacky yes, I am using the experimental since new PSR0 and PSR4 is more easy to handle and write, also for integrate in other frameworks like Symfony.

I am doing a little script for add ipblocks for a adwords campains. And I almost have it finished, just remains change the batch job status to active after waiting file status. But I still have this issue with upload url.

As far I see all the

[2016-07-05 10:08] shakaran commented on #145
@fiboknacky @vtsao I see that for implement the Batch Job upload we will need [CurlUtils](https://github.com/googleads/googleads-php-lib/blob/master/src/Google/Api/Ads/Common/Util/CurlUtils.php) class or similar rewritten for experimental. Should it be included? It would be nice have a new release of experimental with this features soon, since my client is waiting only for this feature and he does

[2016-07-06 20:06] vtsao commented on #145
Renaming this bug, adding BJS support to the beta version of this client library is on our timeline for this Q. We'll update this issue as we go along.

[2016-07-06 22:23] markrogoyski opened #146 "Document ReportUtils Change in v10.0.0"
ReportUtils changed from static functions to instantiating and object and calling an object method for DownloadReport. This change is not documented in the v10.0.0 release notes and should be documented since it is a breaking change.

For example, up until v9.1.0 you could do:
ReportUtils::DownloadReport($reportDefinition, $filePath, $user, $options);

In v10.0.0, you now need to do:
$reportUtils

[2016-07-07 12:22] PT-BBalazs opened #147 "Xml Deserializer Issue"
We have just migrated to BatchJobService for our positive and negative keyword upload operations, and we have been experiencing the following error ever since:

**Fatal error: Call to a member function setAccessible() on a non-object in /[...]/googleads-php-lib-master/src/Google/Api/Ads/AdWords/Util/XmlDeserializer.php on line 134**

The issue seems to be recurring; some jobs are executed fine, bu

[2016-07-07 12:25] vtsao commented on #147
Knack PTAL.

[2016-07-07 13:09] fiboknacky commented on #147
Hello,

If possible, could you capture the stack trace the next time you're faced with this issue?
I'm considering changing the code to be more robust.

For now, the only possible case I can think of is that you're getting an object whose `_parameterMap` isn't in it nor in its parent, but in its child objects.
That case seems not likely to happen in AdWords API, as such information (e.g., [ApiErro

[2016-07-12 08:32] PT-BBalazs commented on #147
Hello,

Just to keep you informed, we have modified our code to build a stack trace and have tried to reproduce the issue. Unfortunately it seems that we did not manage to reproduce the bug so far, but will continue in the upcoming days and weeks to do so.

Which is actually strikingly odd considering that we had this issue over 3 times the day before we posted the issue. I will keep you informed.

[2016-07-12 08:33] fiboknacky commented on #147
Hello,

Thanks so much for informing us.
If you have more updates, feel free to post here.

Best,
Knack

[2016-07-12 09:58] AkaneKuriyama opened #148 "INVALID_BILLING_ACCOUNT_ID_FORMAT"
Hi,

I would like to ask you the following questions;

Im using BudgetOrderService,
I get an error that INVALID_BILLING_ACCOUNT_ID_FORMAT.

The billingAccountId item of BudgetOrder now specifies a 16 -digit number in the format of xxxx-xxxx-xxxx-xxxx.
I have got the number using the BudgetOrderService.getBillingAccounts
but the number does not contain dash(-).
I have to add a dash for the number b

[2016-07-12 10:28] fiboknacky commented on #148
Hello Akane,

Could you please post in the [AdWords API forum](https://groups.google.com/forum/#!forum/adwords-api) instead?
This seems like an issue of the API server rather than the PHP client lib.

Thanks in advance.

Best,
Knack

[2016-07-12 10:28] #148 closed

[2016-07-13 10:06] fiboknacky commented on #146
I've updated the ChangeLog.md accordingly.
Thanks for giving feedback to us.

Knack

[2016-07-13 10:06] #146 closed

[2016-07-18 14:55] jareacz opened #149 "ReportDownloadException when set any value to ReportDefinition::$includeZeroImpressions"
Hello,

I'm using your php client and I've just upgraded to v201605. I wanna try your example for downloading reports [here](https://github.com/googleads/googleads-php-lib/blob/master/examples/AdWords/v201605/Reporting/DownloadCriteriaReport.php) but when I run this script, `ReportDownloadException` is thrown. I've noticed that if variable `ReportDefinition::$includeZeroImpressions` has different

[2016-07-18 14:57] vtsao commented on #149
Knack PTAL.

[2016-07-18 15:02] fiboknacky commented on #149
Hello,

The includeZeroImpressions of ReportDefinition object has been deprecated already in v201603.
Please see our [release notes](https://developers.google.com/adwords/api/docs/reference/#reporting-v201603).

If you wish to set the includeZeroImpressions value, please do it via HTTP headers, as described in [our example](https://github.com/googleads/googleads-php-lib/blob/master/examples/AdWord

[2016-07-18 15:02] #149 closed

[2016-07-18 16:10] jareacz commented on #149
Ok, thanks, I haven't noticed.

[2016-07-22 09:30] shakaran commented on #145
@vtsao do you have some progress with BJS support?

[2016-07-22 15:31] timvdalen commented on #139
I'm having the same issue and I'm not sure what I'm doing wrong.

[code]

Which gives me `ErrorException Undefined index: type` in `XmlDeserializer`.
From the trace I can see that `v201605/ReportUtils.php` is used, which corresponds with the service version I'm loading.

Any idea what I'm doing wrong here?

[2016-07-22 15:45] fiboknacky commented on #139
Hello @timvdalen ,

Please see my comment on May 25:

In short, you have to make sure you haven't included ApiError of SOAP services before that of reporting.

[2016-07-22 16:49] vtsao commented on #147
Closing for now.

[2016-07-22 18:20] vtsao commented on #143
Fixed in the latest version of experimental:
https://github.com/googleads/googleads-php-lib/tree/experimental

[2016-07-22 18:20] #143 closed

[2016-07-22 18:24] vtsao commented on #4
We've made another release of the beta client library (1.3.1-beta). Fixes some bugs and we've released DFP retrieval examples:
https://github.com/googleads/googleads-php-lib/tree/experimental

Check out the changelog here:
https://github.com/googleads/googleads-php-lib/blob/experimental/CHANGELOG.md

[2016-07-22 18:25] vtsao commented on #145
No updates yet, we're planning to work on it this quarter.

[2016-07-22 19:51] shakaran commented on #143
Thanks @vtsao !! I can see a big diff commit, but it is hard to follow the changes between releases mostly because you are pushing moster commits. Could be possible that you commit in small commits per issue or changes related? I mean follow the standard principle for "Atomic Commits" https://en.wikipedia.org/wiki/Atomic_commit it would be a lot for see the progress

[2016-07-22 19:55] shakaran commented on #145
@vtsao Thanks for the update ;) At least some small fixes were done ;) Keep the good work!

[2016-07-24 19:42] timvdalen commented on #139
@fiboknacky I'm using composer, changed my autoload so it only loads
[code]
right now, and I still have the same error.

I've verified that the `ApiError` class is coming from `ReportClasses.php`

[2016-07-24 20:01] timvdalen commented on #139
Okay, so I still don't know why the error wasn't being parsed correctly, but I made `ReportUtilsDelegate` log the XML string, which gave me the actual error:

```<?xml version="1.0" encoding="UTF-8" standalone="yes"?><reportDownloadError><ApiError><type>ReportDownloadError.INVALID_REPORT_DEFINITION_XML</type><trigger>Invalid ReportDefinition Xml: cvc-complex-type.2.4.d: Invalid content was found s

[2016-07-25 01:01] fiboknacky commented on #139
Hello @timvdalen

Yes, you're right.
As announced in [v201603 release note](https://developers.google.com/adwords/api/docs/reference/#reporting-v201603), the includeZeroImpressions field was removed from the report definition object.
It's only available via options since then.

Knack

[2016-07-26 11:12] david-navarro opened #150 "Log file location"
Hi, I've detected in https://github.com/googleads/googleads-php-lib/blob/master/src/Google/Api/Ads/Common/Lib/AdsUser.php#L142 that $this->logsDirectory don't works for me. I'm using relative paths in my laravel project.
I've changed for:

`Logger::LogToFile(Logger::$SOAP_XML_LOG,
        $this->GetLogsDirectory() . "/soap_xml.log");
    Logger::LogToFile(Logger::$REQUEST_INFO_LOG,
        $this->

[2016-07-26 11:42] david-navarro commented on #150
I've made a pull request with this

[2016-07-26 16:23] vtsao commented on #150
That change is a no-op. Can you clarify what you mean by it doesn't work for you? Does the code run without errors, but nothing gets logged to the logs directory?

Or is it some Laravel-specific issue? We don't officially support this library working in Laravel at this moment.

[2016-07-26 16:45] starrychloe opened #152 "PHP Notice: Failed to load response into DOM: DOMDocument::loadXML(): Empty string supplied as input. Error: Bad Gateway."
I'm getting these errors quite often, about 3-4 times per week. Sorry I can't send a log file because the error occurs on Heroku with ephemeral file systems. I cannot access the file system from outside the running instance.

[code]

This is the version that I have.

[code]

[2016-07-26 16:58] fiboknacky commented on #152
Hello,

It looks like connection issues.
What PHP version do you use?

Knack

[2016-07-26 17:13] david-navarro commented on #150
Maybe this change is a no-op in php but sure it fix an error in laravel when I try to find the path of the log file.
I undestand that we don't officially support this library in laravel but if this change allow run it in laravel.. it will be better, right?

[2016-07-26 17:24] chiragvels commented on #152
Hello Knack,

I was also getting same error since updating library to 10.0.0

Also so many report failed with response code 0 from last 2-3 days.

I am using PHP Version 5.3.3.

I have this much details as of now, will add log if any error found in near feature.

[Jul 25 2016 19:32:37.000000 - ERROR] effectiveUser=CUST_ID service=CustomerSyncService method=get operators={} responseTime=null reques

[2016-07-26 17:29] fiboknacky commented on #152
Hello Chirag,

Thanks for enabling logging for debugging this issue.
I'm curious why the log shows `effectiveUser` as CUST_ID.
Usually, it should be your AdWords account ID.
And is this occurring when using CustomerSyncService, in particular?

It would be very helpful if we can full SOAP logs too.

Best,
Knack

[2016-07-26 17:31] chiragvels commented on #152
Hello Knack,

It was real customer id in Log, but for security/privacy purpose I have written CUST_ID here.

[2016-07-26 19:15] vtsao commented on #150
Can you help me understand exactly why it doesn't work in Lavarel the way it is currently? Because there are many other occurrences in this library where we access private member variables in the same class directly and not through the getter.

[2016-07-27 05:29] fiboknacky commented on #152
Hi Chirag,

Thanks for additional information.
Do you have recent full SOAP logs (soap_xml.log) as well?

Cheers,
Knack

[2016-07-27 08:38] david-navarro commented on #150
I only have detected it doesn't work for laravel when init logs. I call LogDefaults() in AdWordsUser.
This is my config file:

[code]

I don't know the reason.. debugging $this->logsDirectory is empty instead using the getter GetLogsDirectory() that contains just my log directory path.

So if I use the private variable my soap_xml.log and my request_info.log loggically are empty.

[2016-07-27 18:09] chiragvels commented on #152
Hello Knack,

Unfortunately I don't have recent SOAP logs related to Bad gateway.
And I have not faced Bad Gateway Issue from last 2 days. If I will face this issue again will post it here.

May be you are right, some connection issue from server end.

Thanks,

[2016-07-27 19:40] neshala opened #153 "Request headers"
In the latest version of AdWords API some fields has been removed from XML and moved to HTTP Header request.

Here is quote from the reference

So far i have used includeZeroImpressions like this:
`// Create report definition.

            $reportDefinition = new ReportDefinition();
            $reportDefinition->reportName = "ADGROUP_PERFORMANCE_REPORT_YESTERDAY";
            $reportDefinition->d

[2016-07-27 19:42] neshala commented on #153
Ok i found the solution by looking at examples:

$options['includeZeroImpressions'] = true;

Please delete and close this issue.

Thanks

[2016-07-27 19:54] #153 closed

[2016-07-27 21:51] vtsao commented on #150
I'm not going to make any changes unless I know the reason why this isn't working. I can't imagine that this is fixed by using a getter instead of the private member in the same class. Are you sure this is the only thing you changed that got it working and not anything else?

[2016-07-28 02:52] fiboknacky commented on #153
Hi Nenad,

Glad you find the solution already.
Feel free to ask in the future if you run into any issues.

Best,
Knack

[2016-07-28 02:55] fiboknacky commented on #152
Hello Chirag,

Thanks for update.
So, I'll wait for more info when you have it.

Best,
Knack

[2016-07-28 11:11] david-navarro commented on #150
It doesn't matter, I extended my own class to init the logs and solved it.
thank you anyway

[2016-07-28 15:53] #150 closed

[2016-07-28 15:54] vtsao commented on #152
Closing for now then.

[2016-08-01 12:39] PT-BBalazs opened #154 "Xml Deserializer Issue (Issue #147 cont.)"
Dear Knack and Team,

we have managed to reproduce the issue mentioned in #147.

We generated the trace by modifying the xml deserializer php file in the following manner:

[code]

and the generated output is the following (sensitive information asterisked out):

[code]

Please keep us informed on the issue and lend us any insight on what might be the problem.

Thanks for your help.

Edit: Also, h

[2016-08-01 14:04] fiboknacky commented on #154
Dear @PT-BBalazs,

Could you please tell me also what were the operations you've uploaded?
It seems you've modified our **AddKeywordsUsingIncrementalBatchJob** example.
How did you do that?

Thanks so much for your information, but it would be faster if I could try running that script by myself.
The `$xmlResponse` you gave me seems to be flattened out so I can figure out what's wrong in there.

Is

[2016-08-02 06:34] PT-BBalazs commented on #154
Dear Knack,

We can't trace it back exactly, because our logs are generated based on the information returned at the end of the process. I think we can provide you the code though, and we will also be doing further work this time of the month, so the error is bound to pop up again.

I can't help but notice though that the xmlResponse is only partial: its end has been cut off, just barely into the

[2016-08-05 08:58] fiboknacky commented on #154
Dear @PT-BBalazs

Thanks for more information.
I don't have enough time to look at this deeply yet, but will have a look soon.

Thanks so much for reporting this.

Knack

[2016-08-09 13:37] shakaran commented on #145
Hi @vtsao @fiboknacky my client is requesting if we have some progress about this issue, he needs to use this part of code for make a demo and we are trying to avoid the stable version since it is less suitable for new coding. Do you think that we can see progress for this issue soon?

[2016-08-09 14:06] vtsao commented on #145
Hi shakaran@ our current ETA is to have this done and released in the beta lib by the end of this quarter.

[2016-08-11 11:09] rik-coenders opened #156 "BC Math requirement"
Version 10.1.0 uses the function bccomp (http://php.net/manual/en/function.bccomp.php) from BC Math in the file src\Google\Api\Ads\AdWords\Util\XmlSerializer.php
This function only works with BC Math enabled, which is not default in php. The requirement for BC Math is not documented in the README file, and seems unnecessary, because this problem could easily be solved in a way not requiring BC Mat

[2016-08-15 08:06] hakimio opened #157 "Add real "Parallel Report Download" example to experimental branch"
The "Parallel Report Download" example in the master branch doesn't actually download reports in parallel because Report Utils are not thread safe. However, as far as I understand, it should be possible to do it using the experimental version of the library. It would be nice if an example of how it should be done was added to the new version.

[2016-08-15 15:34] fiboknacky commented on #156
Hello,

Sorry for late response.
I'll take a look as soon as possible.

Knack

[2016-08-22 11:40] fiboknacky commented on #157
Hello @hakimio

Sorry for late response.
The example was named so to be consistent with client libs of other languages.
Currently, we have no plan to support doing report download in parallel, but we'll keep your suggestion in mind.

Best,
Knack

[2016-08-22 11:40] #157 closed

[2016-08-22 17:43] blacktemplar opened #158 "BatchJob Processing: XmlDeserializer ignores arrays with one element"
When using BatchJobService I get wrong deserialization if the result object contains arrays with only one element. In this case the deserialized object does not contain the array but directly the element of the array.

Easiest example to reproduce is manipulate examples/AdWords/v201607/CampaignManagement/AddCompleteCampaignsUsingBatchJob.php
such that it only adds one operation to the batch job, f

[2016-08-22 17:46] vtsao commented on #158
Knack can you PTAL.

[2016-08-22 22:33] tgreenpubco opened #159 "Class name conflict"
Hi folks, I've run into a conflict between this library and another using the same class name of Logger

Fatal error: Cannot redeclare class Logger in /inc/googleads-php-lib/src/Google/Api/Ads/Common/Util/Logger.php on line 46

The other library is http://logging.apache.org/log4php/

Would be nice to get these two to play together but I'm not entirely sure how to do so.
I believe namespaces could

[2016-08-23 21:39] vtsao commented on #159
Hey @tgreenpubco, we're in the process of releasing a new version of this client library that uses namespaces and conforms to most of the PSR's.

Please check it out in our [experimental branch](https://github.com/googleads/googleads-php-lib/tree/experimental) and follow #4.

For the current client library, we won't be making any namespace changes as our efforts will be focused on bringing the new

[2016-08-23 21:39] #159 closed

[2016-08-25 21:02] starrychloe opened #160 "PHP Notice: Failed to load response into DOM: DOMDocument::loadXML(): Empty string supplied as input. Error: Bad Gateway."
I keep getting this error. It happened today on another project.

[code]

I tried to comment on #152, but it said "You can't comment at this time.".

PHP 5.6.24 (cli) (built: Jul 21 2016 11:42:21)

[2016-08-25 21:27] vtsao commented on #160
Just reopened it, can you continue on #152 please. Thanks!

[2016-08-25 21:27] #160 closed

[2016-08-26 15:00] vtsao commented on #158
Fixed in 12.0.0 release:
https://github.com/googleads/googleads-php-lib/releases/tag/12.0.0

[2016-08-26 15:00] #158 closed

[2016-08-29 08:52] janakprajapati commented on #156
Hi Knack,

Any updates on the issue? or is there any alternate way which we can use to prevent the error?

Thanks,
Janak

[2016-08-29 09:19] hakimio commented on #156
@janakprajapati
bccomp is rather simple function. If you don't want or can't use PHP BC Math extension, you can simply introduce the function in your code:
http://pastebin.com/UCr4T8re

[2016-08-29 16:05] fiboknacky commented on #156
Hi @janakprajapati

The reason why we decided to use bccomp was because PHP doesn't handle some of the edge cases when numbers are so large correctly.
Therefore, we need more accurate computation for that.

I'll discuss with my colleague to see what it's the best in this case.
Sorry for your inconvenience.

@hakimio
Thanks for your comment!

Knack

[2016-08-29 23:44] starrychloe commented on #152
Test

[2016-08-29 23:47] starrychloe commented on #152
The errors are becoming more & more frequent now. I ran a request from development against the production database and production AdWords to collect a log file. It ran very, very slow. Here is the request info log:

Here is the soap XML log:

[code]

[2016-08-30 07:53] fiboknacky commented on #152
Hello @starrychloe

I've replied to your privately via email asking for client customer ID so I can double-check if the response from our server has been sent already or not.
Thanks in advance.

Knack

[2016-08-31 07:54] schevgeny opened #161 "get-keyword-ideas KEYWORD_TEXT return string “array”"
We are building an API app and trying to recieve keyword volume.
We are using code from example:
https://developers.google.com/adwords/api/docs/samples/php/optimization#get-keyword-ideas
This code worked 1-august-2016.
Text, which we send in a query: http://prntscr.com/cbm627.
Then, we avoid an array of phrases that returned: http://prntscr.com/cbm6is
Now we receive only one answer independently o

[2016-08-31 08:02] fiboknacky commented on #161
Hello @schevgeny

I'll take a look and get back to you later.
First, let me confirm something.

You've executed the same code, which worked on 1 Aug, but now it worked differently.
Is this correct?

Could you please share how you modified the file https://developers.google.com/adwords/api/docs/samples/php/optimization#get-keyword-ideas?
Do you run the file as is or use different inputs?

Thanks in

[2016-08-31 09:05] schevgeny commented on #161
Is this correct?
Yes.

@fiboknacky

method:
https://docs.google.com/document/d/15NeexQIPC3fbC-Qu1SHJ0hMgDuNmavPfvK3xbsM5OQM/edit?usp=sharing

[2016-08-31 16:09] litan1106 opened #162 "Got 400, OAuth2Exception: error" : "invalid_request"
OAuth2Exception {#350 ▼
#message: """
{\n
"error" : "invalid_request"\n
}
"""
#code: 400
#file: "src/Google/Api/Ads/Common/Util/SimpleOAuth2Handler.php"

[2016-08-31 19:58] kwitte commented on #162
Same issue here.

auth.ini is apparently out of date.

"installed application" is no longer even a type.  Google's choices now offered are:

- Web application
- Android Learn more
- Chrome App Learn more
- iOS Learn more
- PlayStation 4
- Other

[2016-08-31 20:04] vtsao commented on #162
Hi @litan1106 - I'll need some more information. Are you using existing OAuth2 credentials that were previously working and have stopped working? Or are you trying to create new ones? Which version of the client library are you using?

@kwitte can you describe your situation in more detail as well? The documentation in auth.ini is out of date, yes, and thanks for reporting it, I'll look into fixin

[2016-08-31 20:23] kwitte commented on #162
Hi @vtsao
Something appears to be down on the Google oauth server farm.  Requests are being dropped:

http://youtu.be/LyMyQ1_4Pgs

Example above:

http://ec2-54-151-19-137.us-west-1.compute.amazonaws.com/googleads-php-lib-10.1.0/examples/Dfp/v201605/LineItemService/GetLineItemNameByLineItemId.php?id=275562727

Refresh the example a couple times, and you'll occasionally get a number (a line item na

[2016-09-01 08:30] alancoleman commented on #162
Hi Everyone,

I'm receiving the same intermittent error in my logs (See below).

Our  OAuth2 Credentials do still seem to be working apart from the intermittent issue.

**Library:** googleads-php-lib-10
**Version**: v201605

**Time of first error:** 30-Aug-2016 10:15:03 America/Denver
**Time of most recent error:**  01-Sep-2016 02:20:04 America/Denver

Thank you.

  "error" : "invalid_request"
}'

[2016-09-01 13:45] litan1106 commented on #162
@kwitte is the experimental API oauth works fine for you?

[2016-09-01 15:00] vtsao commented on #162
I'm looking into it. Are you guys using AdWords or DFP? Can you give me an example of what service you're calling? I'll try to reproduce.

[2016-09-01 15:09] litan1106 commented on #162
I am calling the AdWords API - CustomerService using the v12.0.0 php library.

// constructor stuff
$this->adWordsUser = $adWordsUser;
// Set our AdWords auth.ini
$adWordsUser->__construct($authenticationIniPath = base_path('adwords-auth.ini'));

// method stuff
$this->adWordsUser->LogAll();
$this->adWordsUser->SetClientCustomerId($cid);

// Get the Manage Customer Service
$managedCustomerService

[2016-09-01 15:18] kwitte commented on #162
@litan1106 Yes sir!
Thank you.

[2016-09-01 15:48] vtsao commented on #162
To confirm - this is happening when you're running code from a local machine right? And not just an AWS instance or something like that?

[2016-09-01 15:54] kwitte commented on #162
@vtsao Never tried from my local machine yesterday.   All my 10.1.0 calls were always from the same single AWS instance (no caching, multi-host DNS records, or load balancing -- just a bare instance).  My experimental API install is running on a different AWS instance.  You are a hero for offering to look into this for everyone.

[2016-09-01 15:56] litan1106 commented on #162
@vtsao I have two vps instances running in the cloud. And one local instances running in a vagrant. They all got the same error in every other request. OAuth2Exception: error" : "invalid_request"

I tried the same request for 5 times, 1 of 5 request worked and got the data from AdWords API. Other 4 requests failed with OAuth2Exception: error" : "invalid_request"

[2016-09-01 16:24] vtsao commented on #162
Thanks for the info all. I'm still unable to reproduce the issue. But since it seems like it's specific to the PHP client library (and works in the experimental version), the only thing I can see so far is that the OAuth2Handler is using an older access token OAuth2 endpoint:
https://github.com/googleads/googleads-php-lib/blob/master/src/Google/Api/Ads/Common/Util/OAuth2Handler.php#L43

Can you gu

[2016-09-01 16:38] kwitte commented on #162
@vtsao I get "Error 400 (Not Found)" after I supply GetRefreshToken.php with the new success code provided by the URL it directs me to.  But I only changed the ACCESS_ENDPOINT.  Should I change AUTHORIZE_ENDPOINT as well?

![screen shot 2016-09-01 at 9 35 31 am](https://cloud.githubusercontent.com/assets/142748/18175811/b6d7f290-7027-11e6-8b36-afede67b1acb.png)

[2016-09-01 17:13] litan1106 commented on #162
@vtsao I got 400 after I changed

const ACCESS_ENDPOINT = 'https://www.googleapis.com/oauth2/v4/token';

[2016-09-01 17:37] litan1106 commented on #162
curl 'https://www.googleapis.com/oauth2/v4/token' -d 'grant_type=refresh_token&refresh_token=<insert_refresh_token_here>&client_id=<insert_client_id_here>&client_secret=<insert_client_secret_here>

I tried the curl with my credential. It worked for me and I got access token from it.

{
 "access_token": "xxxx",
 "token_type": "Bearer",
 "expires_in": 3600
}

[2016-09-01 17:40] litan1106 commented on #162
I did ten of the curl request, I got access token without error.

{
 "access_token": "xxx",
 "token_type": "Bearer",
 "expires_in": 3600
}

[2016-09-01 18:33] vtsao commented on #162
Thanks @litan1106 it might be a CurlUtils issue with the client library. Let me examine that.

[2016-09-01 18:40] vtsao commented on #162
What version of PHP are you guys using?

[2016-09-01 18:42] kwitte commented on #162
my 10.1.0 API on a server running PHP 5.3.10-1ubuntu3.8 with Suhosin-Patch (cli)

[2016-09-01 18:46] litan1106 commented on #162
I am running 12.0.0 with AdWords V201607

"googleads/googleads-php-lib": "~12.0.0",

[2016-09-01 19:06] vtsao commented on #162
@litan1106 what version of PHP specifically are you running?

[2016-09-01 19:13] litan1106 commented on #162
@vtsao PHP 7.0.5-2+deb.sury.org~trusty+1

[2016-09-01 19:24] vtsao commented on #162
Which region are you guys located in, or where are your servers based?

[2016-09-01 19:25] gregoryagrant commented on #162
same issue here I am rrunning 12.0.0 with adwords v201607 php 5.6 and having random oath issues, sometimes it works fine other times it fails with 400 issue. I am hosting on ec2

[2016-09-01 19:29] kwitte commented on #162
@vtsao my 10.1.0 API on an EC2 server running in us-west-1.  My experimental API (which has not yet experienced any issues) runs on an EC2 server running in us-east-1.

[2016-09-01 19:29] vtsao commented on #162
@gregoryagrant can you try making some requests from your local machine to see if you encounter this error as well? I'm still unable to reproduce this issue, so trying to isolate variables.

[2016-09-01 19:33] gregoryagrant commented on #162
the weird thing is, it works on my local windows 10 machine running php on xamp and I cannot reproduce this issue. The server it is running on is running Ubuntu 14.0 serving the application over apache 2

[2016-09-01 19:39] vtsao commented on #162
Can you try curling to:
https://accounts.google.com/o/oauth2/token

curl 'https://accounts.google.com/o/oauth2/token' -d 'grant_type=refresh_token&refresh_token=&client_id=&client_secret=

from your EC2 instance and see if you can reproduce.

[2016-09-01 19:49] gregoryagrant commented on #162
{
  "access_token" : "got the data here",
  "token_type" : "Bearer",
  "expires_in" : 3600
}

[2016-09-01 19:51] kwitte commented on #162
@vtsao Your curl command works flawlessly. Meanwhile, on same 10.1.0 server, _LineItemService_ call from yesterday (after undoing your v4 endpoint suggestion) still yields intermittent errors.

[2016-09-01 19:56] gregoryagrant commented on #162
yeah that is what is bugging me. And the errors are random. It does not happen after each call, it's like these 3 work then the other one dies with oauth issue.

[2016-09-01 20:01] vtsao commented on #162
Can one of you run a tcpdump on a request that is failing and we will inspect it. You can send it to us at dfpapi-support@google.com.

[2016-09-01 20:07] litan1106 commented on #162
@vtsao I did ten curl requests with the same credentials. No error.

curl 'https://accounts.google.com/o/oauth2/token' -d 'grant_type=refresh_token&refresh_token=&client_id=&client_secret=

[2016-09-01 21:14] vtsao commented on #162
Thanks for the information all, we're still investigating this.

[2016-09-02 07:45] markvaneijk commented on #162
I had yesterday multiple times the "invalid_request" error with OAuth2Exception, while sending thousands of API requests that day.

But today it's going smooth again. So maybe it was just a occasional hick up on the Google servers?

[2016-09-02 07:52] alancoleman commented on #162
The last error I received was yesterday - 01-Sep-2016 17:20:04 America/Denver

like @markvaneijk I'm running requests continually throughout the day and as yet haven't received the error.

[2016-09-02 13:48] litan1106 commented on #162
Thanks for the help. The issue has been fixed by the Google Team.

[2016-09-02 13:48] #162 closed

[2016-09-02 15:32] ivycheung commented on #162
Thank you! I have no admin rights to test anything other than my own code so I had to twiddle my thumbs and hope everyone could resolve this.

[2016-09-02 20:58] vtsao commented on #162
Thanks for everybody's patience on this and helping out with providing us with information. This was caused by something we were rolling out on our end, that has been reverted now.

This client library also wasn't handling the HTTP POST correctly for refreshing an access token. It was sending the HTTP POST as form-data, when it should have just been a regular POST. That's been fixed in the 13.0.0

[2016-09-07 09:05] schevgeny commented on #161
I've fixed it.
I was putting to queries in array with md5 in key, and it was not working.
I am putting array with numerik key and it works now.

Thx

[2016-09-07 09:05] #161 closed

[2016-09-07 09:15] fiboknacky commented on #161
Thanks for your update and sorry for the delay.

[2016-09-08 08:46] hakimio opened #163 "Report download failed (http error code 0)"
Recently we started getting random "Report download failed" errors without any error type set (the errors started to appear yesterday - 7th of September).
Does this happen because of request time-out or some other reason?

[2016-09-08 09:32] dklimkin commented on #163
Hi Hakimio,

Is this for AdWords API? What version are you using?

[2016-09-08 09:33] hakimio commented on #163
Yes, it is for AdWords API. v201607.

[2016-09-08 09:36] dklimkin commented on #163
Please report the issue on the AdWords API forum as this is likely not a library issue:

  https://groups.google.com/forum/#!forum/adwords-api

I recommend attaching the log files for a failed call (please make sure to remove sensitive details like developer token and auth token).

[2016-09-08 09:36] #163 closed

[2016-09-08 12:50] PT-BBalazs commented on #154
Dear Knack,

Here is some extra bit of information. We have received this error once again. Looking back at the keywords we wanted to upload, we noticed that there was a keyword with an '&' character inside. Trying for blind luck, we removed that item and added a different one. The job uploaded fine just afterwards.

Maybe you could try catching this error somehow and return an error message to ke

[2016-09-09 06:39] fiboknacky commented on #154
Dear Balazs,

This is really helpful.
Actually special characters were encoded using `htmlspecialchars` already in [XmlSerializer](https://github.com/googleads/googleads-php-lib/blob/master/src/Google/Api/Ads/AdWords/Util/XmlSerializer.php#L128).
Let me check on my side and confirm what's the real cause of this.

Thanks so much!
Cheers,
Knack

[2016-09-09 07:41] MarthinusBotha opened #165 "SimpleOAuth2Handler need to change how http_build_query is done"
Greetings,

The following will ensure that users won't get any "grant_type parameter not found" errors if you change the following in the method `SimpleOAuth2Handler::MakeRequest($url, $params):`

`$this->curlUtils->SetOpt($ch, CURLOPT_POSTFIELDS, http_build_query($params));`

to

`$this->curlUtils->SetOpt($ch, CURLOPT_POSTFIELDS, http_build_query($params, '', '&'));`

The reason for this change i

[2016-09-09 11:42] fiboknacky commented on #154
Dear Balazs,

I already double-checked and as I mentioned in the previous comment, & is already taken care of by `htmlspecialchars` so it shouldn't have effect on this.

Looking back to your comment above:

It seems quite weird that xmlResponse you get back is partial. It looks more like errors on BatchJobService side and thus fails our deserialization process.

I know that the errors are not ofte

[2016-09-13 09:32] PT-BBalazs commented on #154
Dear Knack,
Thanks for the info, I will get back to you with an ID once we get an error. Indeed errors are few and far between, but they are reproducable (i.e. if you try to upload the very same set of keywords again). I'll keep you informed.

[2016-09-13 09:41] fiboknacky commented on #154
Hi Balazs,

Really appreciate your help. :)
By the way, if your set of keywords is not so large, could you please pass them to me?
If you're concerned about privacy, I can give you google email to send instead.

Thanks in advance.

Best,
Knack

[2016-09-14 15:15] drupalroller opened #166 "Can only install one of: symfony/serializer"
I have the following problem when I try to install on my mac os:

`$ php composer.phar require googleads/googleads-php-lib:dev-experimental
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Can only install one of: symfony

[2016-09-14 18:29] vitorarjol commented on #166
Check the `minimum-stability` option of your composer.json file. If it's set to `stable`, you can  try to use the `dev`option.
[code]

[2016-09-14 23:20] drupalroller commented on #166
Is because of drupa 8.1, there are some conflicts with it. I will try to solve it. Thankyou,

[2016-09-15 13:34] PT-BBalazs commented on #154
Hi Knack,

We have just encountered this error after trying to upload a 3-hours long work session. Quite frustrating, really. The BatchJobId is 364145122, but the keyword set is unfortunately quite massive.

Actually, we are testing with live data, so privacy is indeed a concern. If you could provde us with a google mail address that would be excellent.

Thanks,
Balazs

[2016-09-15 18:19] fiboknacky commented on #154
Hi Balazs,

Could you please send an email with your batch job ID and clientCustomerID to adwordsapi-support@google.com?
Please name the title accordingly so the person who opens that email first know that he/she should assign the case to me.

Thanks so much!
Knack

[2016-09-15 19:43] vtsao commented on #166
I will close this then since it sounds like a Drupal issue rather than an issue with the Composer file for the beta library.

[2016-09-15 19:43] #166 closed

[2016-09-15 20:32] vtsao commented on #165
Hello:

The default for the arg separator for PHP should be '&':
http://php.net/manual/en/ini.core.php#ini.sect.data-handling

it shouldn't be tied to PHP's version. Can you check your php.ini file and ensure that this property hasn't been overridden to "&amp;"?

Thanks,
Vincent

[2016-09-16 09:16] shakaran commented on #145
Hi @vtsao just checking the status for this issue since end of Q3 is approaching, there are progress over this issue?

[2016-09-16 15:15] vtsao commented on #145
Yup, still on track to be released by end of this Q.

[2016-09-17 19:23] mikemeier opened #167 "How about namespaces?"
I try to implement DFP, found this library and then I see, that there are no namespaces. Not even prefixed class-names. What is this? 2010? ;-(

[2016-09-17 21:34] shakaran commented on #167
Hi @mikemeier there are some progress in experimental branch https://github.com/googleads/googleads-php-lib/tree/experimental see issue #4

[2016-09-19 14:22] vtsao commented on #167
Thanks @shakaran. That's correct, we have a beta branch of this library currently in development and plan to move it to stable soon. The beta branch uses modern PHP development practices and adheres to various PSR's. Namespacing being one of them.

As @shakaran pointed out, please follow #4 for updates. Thanks.

[2016-09-19 14:22] #167 closed

[2016-09-19 14:24] vtsao commented on #165
@MarthinusBotha can you please confirm the above? I'm going to close this for now, but if there is still an issue, let me know and we can discuss. Thanks.

[2016-09-19 14:24] #165 closed

[2016-09-19 16:41] vtsao commented on #145
Hi @shakaran we've just updated the experimental branch to contain BJS support. Please see:
https://github.com/googleads/googleads-php-lib/blob/experimental/CHANGELOG.md#140-beta

Thanks.

[2016-09-19 16:41] #145 closed

[2016-09-19 16:42] vtsao commented on #4
FYI we've made another release of the beta client library to the experimental branch (1.4.0-beta). Please see:
https://github.com/googleads/googleads-php-lib/blob/experimental/CHANGELOG.md#140-beta

for changes.

[2016-09-19 18:07] shakaran commented on #145
Thanks @vtsao I will try the new version and I will report if I found some bug or problem. Thanks a lot for your work!

[2016-09-21 03:43] shakaran opened #168 "Class 'phpDocumentor\Reflection\DocBlockFactory' not found"
Related with issue #145 in experimental branch:

[code]

It seems that the dependency phpdocumentor is not added in composer.json:

[code]

Running that command doesn't solve for me the bug, so, I don't know how to autoload that.

[2016-09-21 03:46] shakaran commented on #168
The right package missing seems to be:

    composer require phpdocumentor/reflection-docblock

[2016-09-21 16:52] fiboknacky commented on #168
We'll fix this soon.

[2016-09-29 11:39] shakaran opened #172 "[QUESTION] How to fetch all ip blocked in a campaign"
I develop a script using BatchJobService and [CampaignCriterionOperation](https://developers.google.com/adwords/api/docs/reference/v201607/CampaignCriterionService.CampaignCriterionOperation) for add ips to be excluded in a adwords campaign.

My problem is that I get a list of ips every day, and I have to erase all the ips already excluded in the adwords campaign and then add one each time to the

[2016-09-29 16:01] fiboknacky commented on #172
Hi shakaran,

As this is more related to the AdWords API product, could you please ask the questions on the [AdWords API forum](https://groups.google.com/forum/#!forum/adwords-api) instead?
There are people who moderate the forum actively.

Thanks in advance.

Best,
Thanet, AdWords API Team

[2016-09-29 16:01] #172 closed

[2016-10-03 12:33] PT-BBalazs commented on #154
Dear Knack,

Here's another one, resulting in the same fatal error:

BATCHJOBID
374799180

CLIENTCUSTOMERID
2927880327

In a minute, I will send an e-mail with some logs attached. The e-mail issue ID is [3-4144000013524].

Thanks for your help.

[2016-10-03 21:07] drupalroller opened #173 "Notice: Use of undefined constant STDERR"
I'm getting this error notice every time i use the library.

Notice: Use of undefined constant STDERR - assumed 'STDERR' in Google\AdsApi\AdWords\AdWordsSessionBuilder->defaultOptionals() (line 239 of ******/docroot/vendor/googleads/googleads-php-lib/src/Google/AdsApi/AdWords/AdWordsSessionBuilder.php).

[2016-10-03 21:17] vtsao commented on #173
@drupalroller thanks for reporting this. I'm assuming you're using this library in a web application right? I believe PHP only recognizes STDERR for CLI applications. We'll look into changing how the default logger is setup for this library.

In the meantime you can setup your own logger when building an AW session to avoid this.

[2016-10-04 05:22] fiboknacky commented on #156
Fixed in [v13.1.0](https://github.com/googleads/googleads-php-lib/releases/tag/13.1.0)

[2016-10-04 05:22] #156 closed

[2016-10-11 09:23] mzstic commented on #4
Hi, are there any updates when experimental branch will stop being experimantal?
Thx, looks good so far 👍

[2016-10-11 18:35] vtsao commented on #4
Thanks @mzstic. No updates at the moment, but keep following this issue!

[2016-10-13 19:27] starrychloe commented on #152
The SOAP logs are always from my local desktop. I cannot access SOAP logs on Heroku.
I installed client according to the instructions. I use programatic construction of `AdWordsUser` instead of the `auth.ini`. The lib was installed via Composer. The most recent time this occurred was 2016-10-13T03:30:43.702667+00:00.

[2016-10-14 07:46] fiboknacky commented on #152
Hi @starrychloe

I reviewed all your information again and I still think that this _would_ be an issue of connection.
What's a bit elusive here is that The POST request was logged as ERROR, but the HTTP code returned by the server is 200.  Further, there was no output printed.

Based on the codes, this mean that the [response headers](https://github.com/googleads/googleads-php-lib/blob/d953608e4f2

[2016-10-15 17:12] chiragvels commented on #5
Hello,

'approval_prompt' => 'force' is not working as expected.
If I pass the 'approval_prompt' => 'force', it is still not asking user to authorize app forcefully If I already had login with already authorized adwords account.

Also It is not returning refresh_token with $user->GetOAuth2Info() under below code.

$OAuth2Handler = $user->GetOAuth2Handler();
$user->SetOAuth2Info($OAuth2Handler->Get

[2016-10-17 01:41] GLStephen opened #177 "grant_type Paramater is Missing - 400 Bad Request"
This is in the experimental branch. I am getting intermittent errors when running long API processes where it seems a token refresh is failing. The error is this:

[GuzzleHttp\Exception\ClientException]
  Client error: `POST https://www.googleapis.com/oauth2/v4/token` resulted in a `400 Bad Request` response:
  {
   "error": "invalid_request",
   "error_description": "Required parameter is missing

[2016-10-17 04:45] chiragvels commented on #177
Hello,

One more issue,  'approval_prompt' => 'force' is not working as expected.

If I pass the 'approval_prompt' => 'force', it is still not asking user to authorize app forcefully If I already had login with already authorized adwords account.

Also It is not returning refresh_token with $user->GetOAuth2Info() under below code.

$OAuth2Handler = $user->GetOAuth2Handler();
$user->SetOAuth2Info($

[2016-10-18 20:19] fonko opened #178 "SoapFault in AdsSoapClient.php line 215"
Im using laravel with this api and im getting this error, i have asked the guy that build adwords libs for laravel and he told me to ask here, does anyone have similar error than me? im really lost here.

SoapFault in AdsSoapClient.php line 215:
Unmarshalling Error: cvc-elt.4.3: Type 'ns1:Money' is not validly derived from the type definition, 'string', of element 'ns1:deliveryMethod'.

![error2](

[2016-10-19 03:28] fiboknacky commented on #178
Hello @fonko,

Could you please share your code as well?
What did you try to do?

Thanks.
Knack

[2016-10-19 19:30] fonko commented on #178
yes sorry, here is the code i have used:

http://pastebin.com/HDXkkZs7

the problem seems to be when runing "mutate". I have it debugged and this is the step that throws the error:

 $campaignReturnValue = $campaignService->mutate($operations);

[2016-10-20 01:11] fiboknacky commented on #178
Hello @fonko,

In line 60,
`$campaign->budget = new Budget('123', 'default budget', 'DAILY', new Money(10000), 'STANDARD');`
You put the wrong order of parameters.
The `new Money(10000)` should be the third parameter, not the fourth.
Please confirm [Money class definition](https://github.com/googleads/googleads-php-lib/blob/master/src/Google/Api/Ads/AdWords/v201609/CampaignService.php#L722).

Than

[2016-10-20 01:11] #178 closed

[2016-10-20 16:43] vtsao commented on #5
Hi @chiragvels approval_prompt isn't supported by this library (but the [beta](https://github.com/googleads/googleads-php-lib/tree/experimental) version of this library should support it as it uses the [Google Auth library](https://github.com/google/google-auth-library-php)). As @saturnism mentioned, you might have to add it to the URL yourself. You can find our OAuth2 documentation here:
https://

[2016-10-20 16:57] vtsao commented on #177
@chiragvels replied to your comment in #5 as @GLStephe's issue is for the experimental branch.

[2016-10-20 17:13] vtsao commented on #177
@GLStephen this shouldn't be related to #162 as that was for the non-experimental branch and doesn't use the same OAuth2 library. The experimental branch uses our [Google Auth library](https://github.com/google/google-auth-library-php).

The OAuth2 object should be setting the grant_type automatically for you [based on the existence of a refresh token](https://github.com/google/google-auth-library

[2016-10-20 17:41] chiragvels commented on #5
Hello @vtsao ,

I am passing parameters properly.
It seems to be issue with new version of library 13.1.0 and I was not facing any issue with lib version 10.0.0.
I was using approval_prompt = force since 2011, and not changed any core files for login.

However I found this issue that approval_prompt=force is replaced with prompt = consent, and that was solved this problem.

I have also conversatio

[2016-10-20 17:54] vtsao commented on #5
mmm okay, then I guess our OAuth2 params have changed. Either way it's not specific to this library, but thanks for pointing it out.

[2016-10-26 10:44] komirad opened #179 "Setting log path without settings.ini"
I would like to set the log path using a function like `storage_path('logs')`. Currently, this is not possible as the settings must be in settings.ini file.

I've tried using `$adWordsUser->LoadSettings()` function but it doesn't allow me to null the `$settingsIniPath` param (throws unable to open stream exception).

The `$logsDirectory` is private, so I cannot set it directly.

[2016-10-26 21:43] vtsao commented on #179
Hi @komirad thanks for the feedback. You're right, unfortunately there's no way to do this programmatically. We won't be adding support for this as our efforts are currently being focused on getting our experimental version of this library to stable so we can release it:
https://github.com/googleads/googleads-php-lib/tree/experimental

The experimental library uses [Monolog](https://github.com/Sel

[2016-10-26 21:43] #179 closed

[2016-10-31 09:24] hakimio opened #180 "[Experimental] No way to set OAuth2 access token"
While stable branch of the library allows to do both - set and get the OAuth2 access token, experimental branch only seems to allow getting it.

It's possible to get the access token and its expiration time using "adWordsSession->getOAuth2Credential()->getLastReceivedToken()". However OAuth2TokenBuilder class only allows setting refresh token but not the access token.

Would it be possible to have

[2016-10-31 19:17] vtsao commented on #180
Hey @hakimio, this is actually possible in the beta library. The beta library uses our auth library.

When setting the OAuth2 credentials in the AW session:
https://github.com/googleads/googleads-php-lib/blob/experimental/src/Google/AdsApi/AdWords/AdWordsSessionBuilder.php#L159

you can create an instance of OAuth2.php and set it:
https://github.com/google/google-auth-library-php/blob/master/src/O

[2016-10-31 19:17] #180 closed

[2016-11-01 09:21] fiboknacky commented on #154
Per personal communication, the issue seems to be affected by the old version of `XmlDeserializer` from v10.0.0.
This has been fixed in [v12.0.0](https://github.com/googleads/googleads-php-lib/releases/tag/12.0.0), so upgrading to this version should fix this.

[2016-11-01 09:21] #154 closed

[2016-11-02 14:20] hakimio commented on #180
I am creating a web app where I want to reuse same access token between requests until it expires instead of getting a new one every time. AFAIK, that's the way it should work.

I instantiate AdwordsSession fields from Configuration object which I manually create instead of using *.ini  config file. It would be great if I could include access token and expiration time in that Configuration object

[2016-11-02 14:21] hakimio commented on #173
Maybe path to log file could be specified in the config file and it could use that instead of just standard console output?

[2016-11-02 14:26] hakimio opened #181 "[Experimental] Missing requirement "symfony/property-access""
Without "symfony/property-access" I get `Fatal error: Class 'Symfony\Component\PropertyAccess\PropertyAccess' not found in adwords-lib-experimental\vendor\symfony\serializer\Normalizer\ObjectNormalizer.php on line 40` when trying to download report data.

I know that "symfony/serializer" lists it as suggested requirement but it's not installed by default.

[2016-11-03 08:42] PT-BBalazs commented on #147
Our e-mail communication was closed with the following:

_Per personal communication, the issue seems to be affected by the old version of XmlDeserializer from v10.0.0.
This has been fixed in v12.0.0, so upgrading to this version should fix this._

Now issue #158, which was fixed in v12.0.0, deals with one-element jobs. We were also trying to investigate how this issue was related to special chara

[2016-11-03 15:10] fiboknacky commented on #147
Hi Balazs,

I've tried your result from batch processing with `XmlDeserializer` but still can get through it _without any problems_. The deserializer did work for all many tens of operations passed back from the server.
Thus, it looks to me that there would be some issues on your side.

Could you please provide more information, e.g., code snippet you used to get the result and deserialize it?
If

[2016-11-03 16:04] GLStephen commented on #177
This is how I am building the session. It is a bit different than the example you provide, but I don't see a material difference.

`public function getDFPSession($network){
$user = User::find($network->user_id); // get user from db
        // Generate a refreshable OAuth2 credential for authentication.
        $oAuth2Credential = (new OAuth2TokenBuilder())
            ->withClientId('client_id')

[2016-11-03 18:24] GLStephen commented on #177
I was able to add a bit more debug logging and got this on the next instance of the failure:

Google\AdsApi\Dfp\DfpSession Object
(
    [logger:Google\AdsApi\Dfp\DfpSession:private] => Monolog\Logger Object
        (
            [name:protected] => local
            [handlers:protected] => Array
                (
                    [0] => Monolog\Handler\StreamHandler Object

[2016-11-03 18:45] vtsao commented on #180
This is actually how the library current works (both the existing and beta libraries). The access token is only refreshed when it's about to expire. See this class for details (beta library):
https://github.com/googleads/googleads-php-lib/blob/experimental/src/Google/AdsApi/Common/OAuth2TokenRefresher.php#L57

We recommend you let the library take care of refreshing access tokens for you in this w

[2016-11-03 18:49] vtsao commented on #181
@fiboknacky PTAL

[2016-11-03 19:14] hakimio commented on #180
Between requests AdWordsSession object is not the same. It's recreated every time. How can it already have the access token to check if it's expired or not? Am I missing something?

[2016-11-03 19:16] vtsao commented on #177
Thanks for the additional information. This is strange, I'm not sure how the grant type is being nulled out, because when you first create the OAuth2 credentials, it sets a grant type and it's never changed after that:
https://github.com/google/google-auth-library-php/blob/0420299c61f2b6eef1da465342a1b66b34b36c13/src/OAuth2.php

Can you confirm that it's setting a grant type when you first attempt

[2016-11-03 19:25] vtsao commented on #180
Okay, didn't realize you meant HTTP requests to your website. How about reusing the same AdWords session object for a web session, instead of creating a new one every time your page is hit?

[2016-11-03 19:45] GLStephen commented on #177
This is the UserRefreshCredentials object on initial creation, which works fine until it fails after a while. Can I add a grant type to it manually somehow and see if having it on the object works for future refreshes? This is a web app, where I'm using an oAuth2 flow to get a refresh token for multiple users and storing them. Multiple threads are not accessing the object. Currently, the app is on

[2016-11-03 20:00] vtsao commented on #177
It won't set a grant type until you attempt to first grab an access token with it. Can you call fetchAuthToken() on the OAuth2 credential after you first create it and then dump its contents to ensure it has a grant type as a sanity check.

And yes, you can set the grant type manually yourself when debugging, but you shouldn't have to do that in prod.

[2016-11-03 20:12] GLStephen commented on #177
It looks like the Grant Type is missing after the fetchAuthToken() call.

Google\Auth\Credentials\UserRefreshCredentials Object
(
    [auth:protected] => Google\Auth\OAuth2 Object
        (
            [authorizationUri:Google\Auth\OAuth2:private] =>
            [tokenCredentialUri:Google\Auth\OAuth2:private] => GuzzleHttp\Psr7\Uri Object
                (
                    [scheme:GuzzleHttp\Ps

[2016-11-03 21:15] hakimio commented on #180
In my case, there are multiple users using the same agency's MCC account and as a result refresh token. If I just serialize AdWords session in a web session, it will be one access token per user. If I store access token in my DB, it can be shared between multiple users.

Anyway, can you explain why you are against being able to include access token in Configuration object used to initialize AdWord

[2016-11-03 22:47] vtsao commented on #173
@drupalroller using fopen('php://stderr', 'w') instead of the STDERR constants (which is only defined when running PHP in the CLI) should fix this, will make an update.

@hakimio that's a good idea, will add that convenience feature, as you can always specify your own Monolog logger that writes to a file as well.

[2016-11-04 15:59] fiboknacky commented on #181
Hi Tomas,

Thanks for reporting the issue. It does require `symfony/property-access` for using `ObjectNormalizer`.
We're migrating from `ObjectNormalizer` to `GetSetMethodNormalizer` for the reporting.
This will get aligned with `BatchJobs`, which also uses `GetSetMethodNormalizer`, and the lib will require no `symfony/property-access` anymore.

Before that, you could switch from `ObjectNormalizer

[2016-11-04 16:09] PT-BBalazs commented on #147
Hi knack,
We've been making the modifications you requested, and have logged the output of the $elementClass and $iteratorClass variables. We still need to clean things up though, because in the current (rather simplistic) way we output these variables right now, there isn't much to see.

Here is another (unfortunately pretty large) example, though:
BatchJob with ID 397811549
upload URL https://ba

[2016-11-04 16:17] fiboknacky commented on #147
Hi Balazs,

I'm not quite sure about `ManualCpcBiddingScheme` but for `CriterionError`, one of the most mistakes so far, occurs when a user do `require_once` of all our classes.
Sometimes, `ApiError`, which is the parent class of [CriterionError](https://github.com/googleads/googleads-php-lib/blob/master/src/Google/Api/Ads/AdWords/v201609/CampaignCriterionService.php#L683), got hidden by another [

[2016-11-04 16:58] hakimio commented on #181
Thanks, I'll try that out.

[2016-11-04 21:54] jbboehr commented on #4
Are you planning to rename the package? 1.4 is less than 14.0...

[2016-11-07 22:54] vtsao commented on #4
@jbboehr Thanks for bringing this up, we're currently still thinking about how to proceed with this, will definitely let the community know when we've decided.

[2016-11-07 23:51] vtsao commented on #180
I'm not necessarily opposed to this, I wanted to understand your use case better, which was unclear at first. I'm also looking into if this level of convenience is appropriate for how common/rare this use case is. Because as mentioned before, you can create an OAuth2 object and set it there.

Will get back to you on this. Thanks.

[2016-11-08 09:00] squared99 opened #183 "get/query methods failing silently"
For some reason any call to 'get' or 'query' appears to be failing for me. No exception or SoapFault is thrown, the code just halts and appears to be failing silently.

I've successfully made calls to 'mutate' and creating the AdWordsUser using the same initialization and credentials with no issues, and so have been able to create and update campaigns, user lists, ad groups, and budgets.

I've bee

[2016-11-08 09:49] fiboknacky commented on #183
Hi @squared99

Could you please answer some questions below?
- What version of client library do you use?
- How did you set up this client library? By composer? Do you try running it as is or plugged into other source codes?
- Have you modified any codes in this library?
- It failed silently or it took so _long_ time (e.g., 15 mins) to finish? I asked because I've found the case in the past when t

[2016-11-09 03:10] squared99 commented on #183
Hi There,

Thanks very much for follow-up. Answers to questions below:

What version of client library do you use?
I’m using v201609, but have also swapped to v201607 to test and we see the same results.

How did you set up this client library? By composer? Do you try running it as is or plugged into other source codes?
Yes, it was installed via composer. We include the libraries in our code via p

[2016-11-09 09:49] PT-BBalazs commented on #147
Hi Knack,

This is all we have:
include_once DIR.'init.php';
require_once ADWORDS_UTIL_VERSION_PATH . '/ReportUtils.php';
require_once ADWORDS_UTIL_PATH . '/XmlDeserializer.php';
require_once ADWORDS_UTIL_VERSION_PATH . '/BatchJobUtils.php';
require_once UTIL_PATH . '/ChoiceUtils.php';
require_once UTIL_PATH . '/OgnlUtils.php'

init.php is the unmodified, "factory" version.

We have had another oc

[2016-11-09 11:32] fiboknacky commented on #147
Hi Balazs,

First,

This is the cause.

As explained in the previous reply, when you do `require_once` for ReportUtils as well, it will in turn require reporting `ApiError`, which is different from that of SOAP services' `ApiError`.
The reporting `ApiError` doesn't have a `_paramaterMap` variable. That's why all classes extending `ApiError`, e.g., `CriterionError`, `AdGroupCriterionError` will fai

[2016-11-09 13:40] PT-BBalazs commented on #147
Hi Knack,

I was just in the middle of building an upload list when this happened. To better understand, the workflow process of our application is the following:
- We request keyword data from Google using
- We work on that data
- We upload the modified keywords

I was just busy doing work in Phase 2 when we got your answer. We quickly modified the require_once files, and it looks like everything

[2016-11-09 14:00] fiboknacky commented on #147
Hi Balazs,

Thanks for detailed situation.
I know that this is tough for you. Sorry for this convenience.
What you're saying to use as a workaround looks good.

I'll close this issue for now. If you find any issues related to this, feel free to open it again.
If you find other issues, please create a new one.

Thanks!
Knack

[2016-11-09 14:00] #147 closed

[2016-11-10 15:46] Babis86 opened #184 "Cannot use object of type stdClass as array"
[code]
actually i am using the version v14.0.0 and the apiVersion 201607.
The error appears when i am using AddCompleteCampaignUsingBatchJob.

Problem version > v11.0.0 in XmlDeserializer.php
[code]

This one works fine
old versionen <= 11.0.0 in XmlDeserializer.php
[code]

[2016-11-10 16:24] fiboknacky commented on #184
Hello @Babis86,

Could you please give me a specific example that fails version > v11.0.0?
Thanks in advance.

Best,
Knack

[2016-11-11 12:15] swordbeta opened #185 "Use JSON instead of INI"
The Google API Manager allows you to download the client ID, client secret and other metadata. It would be nice if we'd be able to use this instead of the current ini file. https://github.com/google/google-api-php-client allows this.

[2016-11-11 14:27] fiboknacky commented on #184
Hello @Babis86,

I think you omitted the outermost part of the response, which is
`<batchJobMutateResponse xmlns="https://adwords.google.com/api/adwords/cm/v201609">`.
Am I correct?
It's the crucial part to make `XmlDeserializer` works correctly.

Besides, what do you pass as `CLASS_MAP` when constructing the deserializer?
Is it the same as this [line](https://github.com/googleads/googleads-php-li

[2016-11-11 15:40] Babis86 commented on #184
Hello fiboknacky,

you are right but i use the api version v201607
[code]
I pass the downloadUrl, it is the same [code](https://github.com/googleads/googleads-php-lib/blob/master/examples/AdWords/v201609/CampaignManagement/AddCompleteCampaignsUsingBatchJob.php) as the example from the batchjob migration guide .
[code]

ClASS_MAP
[code]
Best,
Babis86

[2016-11-11 17:18] fiboknacky commented on #184
Hi Babis86,

There must be something wrong in your setting.
I can get this payload deserialized without problems.

[code]

From your `var_dump` result, it looks like the outermost part of your XML payload got trimmed out, i.e., the deserialization starts from the `rval` level, not from `mutateResponse` level.

If done correctly, the instantiated object shouldn't be of `stdClass` type.
It should be

[2016-11-14 12:50] hakimio commented on #183
@squared99 Did you by any chance chance enable wsdl cache?

[2016-11-14 13:24] fiboknacky commented on #183
Hello @squared99,

I've never seen this issue before and what @hakimio kindly pointed out looks feasible to me.
Could you please confirm on this point too?
I would also try using the client library on other computers / network settings as well.

Best,
Knack

[2016-11-15 06:59] shoota commented on #177
hi.
I had similar error on v14.0.0, and fix.
In my case, sent params not correctly, because [`arg_separator.output`](http://php.net/manual/en/ini.core.php#ini.arg-separator.output) was set ```&amp;```.
It changed to use `http_build_query` on v13.0.0 (see bellow)

 https://github.com/googleads/googleads-php-lib/commit/8a1b83fddcc90e4101215c2573d4c7cecf4589d3#diff-56c31de18b46725ac7194a2894c13857L10

[2016-11-16 18:00] willatkins opened #186 "GetCampaignsWithAwql.php has incorrect syntax on line 62"
$offset += AdWordsConstants::RECOMMENDED_PAGE_SIZE;
Should be
 $offset .= AdWordsConstants::RECOMMENDED_PAGE_SIZE;

[2016-11-16 18:14] #186 closed

[2016-11-16 18:15] willatkins commented on #186
Sorry I was being stupid ignore this!

[2016-11-16 23:59] starrychloe commented on #152
I created a temporary work-around.

[code]

Here is how I get a `User` object.

[code]

[2016-11-17 22:06] ilksayfareklam opened #188 "I work for 2 weeks I convey the images I made Please Help Could you send the correct file directory"
Hello

I work for 2 weeks  I convey the images I made  Please Help Could you send the correct file directory

![screenshot_1](https://cloud.githubusercontent.com/assets/23435012/20409488/7edf220e-ad22-11e6-8f4d-3bd5b2fd262e.jpg)
![screenshot_3](https://cloud.githubusercontent.com/assets/23435012/20409506/915054d0-ad22-11e6-8521-1c467c7a5e13.jpg)
![screenshot_4](https://cloud.githubusercontent.com/

[2016-11-18 04:00] fiboknacky commented on #188
Hello @ilksayfareklam,

As written in [README.md](https://github.com/googleads/googleads-php-lib/blob/master/README.md), all our examples are meant to be via the command line, not as a web page.

Best,
Knack

[2016-11-18 04:00] #188 closed

[2016-11-18 07:47] ilksayfareklam commented on #188
I did not understand

2016-11-18 6:00 GMT+02:00 Thanet Praneenararat <notifications@github.com>:

--

*Oktay Kaya*
İlk Sayfa Reklam
Google Adwords Reklam Uzmanı
*Tel : 0534 690 12 50*
*Tel : 0216 311 94 98*
www.ilksayfareklam.com
info@ilksayfareklam.com
<http://www.ilksayfareklam.com/?reklam=adwords>
<https://www.ilksayfareklam.com/?reklam=adwords>
<https://itunes.apple.com/tr/app/ilk-sayfa-reklam

[2016-11-18 08:43] fiboknacky commented on #188
Hello,

In what part don't you understand?
Do you understand running PHP via command line?
Please see how to execute PHP code via command line [here](http://stackoverflow.com/questions/9520090/how-to-execute-php-code-from-the-command-line).

What you did is to run our examples via localhost, which is a web application, not command line.

Best,
Knack

[2016-11-18 10:20] fiboknacky commented on #152
Hello @starrychloe,

How did your workaround help?
Do you mean that mostly from 100 counts, there will be on call that succeeds?

I don't see any flaws in your AdWordsUser creation.

Best,
Knack

[2016-11-18 10:50] fiboknacky commented on #188
Hi @ilksayfareklam,

We have another [page](https://github.com/googleads/googleads-php-lib/wiki/API-access-using-own-credentials-(installed-application-flow)) that might be useful to your case.
It lists up the steps to get refresh tokens, which seem to be what you would like to achieve.

Best,
Knack

[2016-11-24 04:27] starrychloe commented on #152
The workaround works well. On the 19th it recovered from an error for a long-running job. The code will retry 100 times (actually 101).

[2016-11-24 12:21] fiboknacky commented on #152
Hello,

As we haven't got report from other users both via this GitHub issues and our [forum](https://groups.google.com/forum/#!forum/adwords-api), it's likely that this issue has occurred from connections on your side.
Would it be possible for you to consider implementing this workaround in your application?

As I checked last time, the request that you gave us was processed correctly and the res

[2016-12-01 16:47] komirad opened #189 "Polling a batch job via PHP library needs unnecessary upload URL?"
Posted this in the AdWords API forum here: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/adwords-api/FA03p5HAVGE/s7Uo5WxjCwAJ

I noticed in the PHP library, BatchJobUtils' constructor has a required $uploadUrl param. Isn't upload URL unnecessary when polling a batch job?

In my case, I am using a queue system to poll the batch job.

Since I can't get the upload URL using

[2016-12-02 07:20] fiboknacky commented on #189
Hello JC,

I think what's not convenient for you is the downloading results process, right?
(The polling of the results  is not related to `BatchJobUtils` itself)
If so, yes, the current version of `BatchJobUtils` does require an upload URL for initialization.
Sorry for this inconvenience.

This issue has been fixed in our [experimental branch](https://github.com/googleads/googleads-php-lib/tree/e

[2016-12-02 07:20] #189 closed

[2016-12-03 21:59] rafaelfayosoliver opened #190 "Error at the end"
I went through the whole process and at the end, when I write in the terminal the authorization code from Google website, an error ocurred: "Your OAuth2 Credentials are incorrect"

[2016-12-05 06:03] fiboknacky commented on #190
Hello @rafaelfayosoliver

I assume that you use AdWords API. Please correct me if I'm wrong.

Could you please describe how you got client ID and client secret?
Did you follow the step described [here](https://github.com/googleads/googleads-php-lib/wiki/API-access-using-own-credentials-(installed-application-flow)#step-1---creating-oauth2-credentials)?

There are also detailed steps described in [

[2016-12-07 18:04] rafaelfayosoliver commented on #190
Thanks, I solved the problem. It was something I was doing wrong

2016-12-05 7:03 GMT+01:00 Thanet Praneenararat <notifications@github.com>:

[2016-12-07 19:12] #190 closed

[2016-12-08 08:37] komirad opened #191 "ConvertObjectToXml does not convert $campaign->biddingStrategyConfiguration"
Hi,

I am using BatchJobUtils->UploadBatchJobOperations() to batch create my campaign (with other entities).

Api version v201609, googleads-php-lib 13.1.0

I am getting this in response to my campaign operation:
[code]

In my campaign operation, the operand does have biddingStrategyConfiguration (I am using scheme in place of type). However, I noticed the xml output from XmlSerializer->ConvertObj

[2016-12-08 10:00] fiboknacky commented on #191
Hi @komirad

Could you please share your code snippet that generates the XML sent to BatchJobService?
In addition, could you please tell me your corresponding batch job ID too?

Thanks in advance!

Cheers,
Knack

[2016-12-08 10:25] komirad commented on #191
Hi @fiboknacky

Batch job id should be: 416060804 (There are more if you need them)

The snippet (with the added dump() functions) used to generate the above:
[code]
Found in: https://github.com/googleads/googleads-php-lib/blob/master/src/Google/Api/Ads/AdWords/Util/XmlSerializer.php#L51-L67

This is traced back to my code:
[code]
From: https://github.com/googleads/googleads-php-lib/blob/master/sr

[2016-12-08 14:25] fiboknacky commented on #191
Hello @komirad

Thanks for the batch job ID.
Sorry if it's not clear. I meant the code snippet that you used to create operations.
In other words, the snippet that you put data into your `$operations` in the above reply.

Could you please provide that too?
Thanks in advance.

Best,
Knack

[2016-12-08 14:59] komirad commented on #191
Hi @fiboknacky

It's in OOP so it's broken up into many files but I'll extract the methods and relevant parts here.

[code]
Uploading the operation using the library:
[code]
Here I build the operation and take the Campaign object from the model:
[code]
Here I create the Campaign object from my model:
[code]
Here's the relevant portion that is used to convert the array stored in the model to biddin

[2016-12-09 10:57] fiboknacky commented on #191
Hello @komirad

I could reproduce this issue as you reported. Thanks for this.
I'm working to see how we can fix this.
As a workaround for this case, please set the `biddingStrategyType` alongside with `biddingScheme`.

As for your information, our new `BatchJobs` in the [experimental](https://github.com/googleads/googleads-php-lib/tree/experimental) branch isn't affected by this issue in case you

[2016-12-19 08:30] cacapan opened #192 "Cannot use object of type CallFeedItem as array"
Hi,
I am using BatchJobUtils to create ad group extension setting.
The add operations works fine and got response correctly.
`<mutateResponse xmlns="https://adwords.google.com/api/adwords/cm/v201609">
   ... ...
   <rval>
      <result>
         <AdGroupExtensionSetting>
            <extensionType>CALL</extensionType>
            <extensionSetting>
               <extensions xmlns:xsi="http://www.

[2016-12-19 08:33] fiboknacky commented on #192
Hello @cacapan,

Could you please provide your the library version you're using and your batch job ID as well?
Thanks in advance!

Best,
Knack

[2016-12-19 08:57] cacapan commented on #192
Hi @fiboknacky

lib version is v14.0.0 and batch job Id is 422840004
Thanks for your help.

Cheers.

[2016-12-19 10:46] fiboknacky commented on #192
Hello @cacapan

Thanks for your information. :)
I'll have a look at this.

Best,
Knack

[2016-12-20 16:54] dan-rally commented on #4
It appears the experimental branch now only supports a deprecated version of API, any updates on this please? Thanks.

[2016-12-20 17:10] vtsao commented on #4
@dan-rally we'll be updating experimental soon.

[2016-12-20 17:46] dan-rally commented on #4
@vtsao OK thanks for the update.

[2016-12-20 23:48] vtsao opened #193 "Old library end of life (EOL) support."
This issue tracks the support plan and timeline for the [old library](https://github.com/googleads/googleads-php-lib/tree/deprecated) before it reaches end of life (EOL). The old library will be sunset at the end of **July 2017** where it will no longer be updated and we will no longer offer support for it.

| | 11/2016 | 12/2016 | 01/2017 | ... | 7/2017 | 8/2017 | ... |
| --- | --- | --- | --- |

[2016-12-20 23:49] vtsao opened #194 "Generate and publish PHPDoc for new library."
Generate PHPDoc for new library and publish to [gh-pages](https://github.com/googleads/googleads-php-lib/tree/gh-pages) branch.

[2016-12-22 01:04] vtsao commented on #183
Closing due to lack of activity, please re-open if this is still an issue.

[2016-12-22 01:04] #183 closed

[2016-12-22 01:05] vtsao commented on #184
Closing due to lack of activity, please reopen if this is still an issue.

[2016-12-22 01:05] #184 closed

[2016-12-22 01:05] vtsao commented on #181
Closing due to lack of activity, please reopen if this is still an issue.

[2016-12-22 01:05] #181 closed

[2016-12-22 01:06] vtsao commented on #152
Closing due to lack of activity, please reopen if this is still an issue.

[2016-12-22 01:06] #152 closed

[2016-12-22 01:07] vtsao commented on #168
Fixed with https://github.com/googleads/googleads-php-lib/releases/tag/25.0.0.

[2016-12-22 01:07] #168 closed

[2016-12-22 01:08] vtsao commented on #173
https://github.com/googleads/googleads-php-lib/releases/tag/25.0.0

[2016-12-22 01:08] #173 closed

[2016-12-22 01:09] vtsao commented on #177
@GLStephen I wasn't able to reproduce this issue - did you ever figure out what the problem was?

[2016-12-22 01:22] GLStephen commented on #177
My apologies, I thought I had posted a "I think it is working" response. I can verify now that it **is** working. I changed my code to this:

[code]
Oddly enough, without that it worked for some length of time and then failed. I could not find the source of the time, but it seemed to be session expiration. With that initial fetch added it works when the session is refreshed later and the failure s

[2016-12-22 01:26] GLStephen commented on #177
My apologies, I thought I had posted a "I think it is working" response. I can verify now that it is working. I changed my code to this:

[code]
Oddly enough, without that it worked for some length of time and then failed. I could not find the source of the time, but it seemed to be session expiration. With that initial fetch added it works when the session is refreshed later and the failure stopp

[2016-12-22 01:32] vtsao commented on #4
The experimental library has now been pushed to stable and the old library has been deprecated. Please see our blog post announcement for details:
https://googleadsdeveloper.blogspot.com/2016/12/announcing-new-ads-php-client-library.html

Thanks for everyone's contributions to both the old and new libraries!

[2016-12-22 01:32] #4 closed

[2016-12-22 01:34] vtsao commented on #177
Thanks for following up, glad it's working now!

[2016-12-22 01:34] #177 closed

[2016-12-24 16:35] sylvainmtl68 opened #197 "MANY Issues - especially ExpandedTextAds."
Hi!

I just tried to run the AddCompleteCampaignsUsingBatchJob.php to get an overview of the various changes in the new library.  When I tried that same script in the old library last, it went very smoothly, not this time with the new library.

Here are some issues I encountered, in my 2 hours of testing that file and trying to make it work.

- I had to comment out part of the BatchJobsDelegate.ph

[2016-12-24 17:25] fiboknacky commented on #197
Hello @sylvainmtl68,

I'm really sorry for your inconvenience.
We'll work on the fix very soon.

As for the keywords part, we deliberately add !!! for 50% of keywords created just to demonstrate how the `BatchJobService` and `BatchJobs` deal with such a case.
So this works as intended. If you wish to create valid keywords, please modify that method accordingly.

For other issues, I'll work on a fi

[2016-12-24 17:45] sylvainmtl68 commented on #197
Thanks.

yes, I just read the header of the buildAdGroupCriterionOperations that
explains it.  It's just that as I ran that same file in the previous
library and it went smoothly, I wasn't expect any errors put there on
purpose... I had assumed the previous file had just been migrated to the
new library methods.

But it's okay... it's not a real issue... not like the issues with the
ExpandedTextAd

[2016-12-24 18:00] sylvainmtl68 commented on #197
I forgot to mention... that if I wanted to try out this batch processing
file it's because the one of the old version had issues with the return
values when we included campaign extensions.  I wanted to see if that
problem has been fixed with the change of XML deserializer.  I have about
8000 campaigns to launch for a client this week... and I'd much prefer use
the batch process... but without the

[2016-12-24 18:03] fiboknacky commented on #197
Hi Sylvain,

Thanks for more information.
Would you mind clarifying more what kinds of issues you're faced with when you include campaign extensions?
Is it similar to issue #192?

Regards,
Knack

[2016-12-24 18:13] sylvainmtl68 commented on #197
Yes, similar to this.  Sometimes  the error was regarding the
CallOutFeedItem object.

By trying various scenarios, I was able to get rid of those two messages by
creating since I saw it was mentionning of array and I was creating
multiple extensions at once...I decided to create multiple instances of
CampaignExtensionSetting (one for each sitelink) rather than using the
collection campaignExtensi

[2016-12-26 07:29] fiboknacky commented on #197
Hi @sylvainmtl68

Thanks for more information.

Regarding the `CallOutFeedItem` issue, this occurs only in the old XML deserializer because it still uses the classes manually added by ourselves.
The deserializer in this new version makes use of the batch job related classes generated by WSDL, just similar to other classes related to SOAP services.

As for

I found that mostly it's because users ge

[2016-12-27 21:17] jeffersoncechinel opened #198 "Adwords v201609 missing ErrorUtils.php class."
I'm not able to handle partial errors because I cannot find ErrorUtils class anywhere in the v201609 library. There is an example in documentation of how to use this class but I cannot find it.

Example of usage: https://developers.google.com/adwords/api/docs/samples/php/error-handling

[2016-12-27 21:26] fiboknacky commented on #198
Hello @jeffersoncechinel

The link you provide is actually based on the old version (e.g., [v15.0.0](https://github.com/googleads/googleads-php-lib/releases/tag/15.0.0)). We've recently launched the new version (v25.0.0) that supports namespacing and other features.

In [v25.0.0](https://github.com/googleads/googleads-php-lib/releases/tag/25.0.0), we don't provide `ErrorUtils` anymore as there are

[2016-12-27 21:26] #198 closed

[2016-12-28 12:30] jeffersoncechinel commented on #198
Thank you!

[2016-12-28 14:54] socialknowledge opened #199 "LineItemService Examples?"
It seems many have disappeared in the latest commit?  What happened?

[2016-12-28 17:02] litan1106 opened #200 "composer satisfiable conflicted with google/apiclient ^2.0"
composer satisfiable conflicted with google/apiclient ^2.0

 Problem 1
    - google/apiclient v2.1.0 requires google/auth ^0.11 -> satisfiable by google/auth[v0.11.1, v0.11.0].
    - google/apiclient v2.0.0 requires google/auth 0.8 -> satisfiable by google/auth[v0.8].
    - Can only install one of: google/auth[v0.7, v0.11.1].
    - googleads/googleads-php-lib 25.0.0 requires google/auth ^0.7 -> sa

[2016-12-29 16:14] vtsao commented on #199
Hi @socialknowledge we've completely rewritten this library and are still porting DFP examples over from the old library to the new one. Please reference the old library's examples for now if something is not available in the new library's examples. Thanks.

https://github.com/googleads/googleads-php-lib/blob/master/UPGRADING.md#examples

[2016-12-29 16:14] #199 closed

[2016-12-29 23:17] dysfunct opened #201 "DFP docs are not updated"
Hey all - I'm running into some issues getting some basic reporting set up, and noticed that the public docs are pretty out of date with what's currently in the code here.

If you take a look at the docs at https://developers.google.com/doubleclick-publishers/docs/reporting#creating_the_reportjob, notice that in many cases direct property access is still being suggested, as opposed to getters and

[2017-01-02 12:46] chiragvels opened #202 "Config file path issue"
Hello,

As per Doc we can pass custom path to get oauth2creadentials

$oAuth2Credential = (new OAuth2TokenBuilder())
        ->fromFile($path)
        ->build();

But when we pass path it is only taking basename from path we passed and under doc it mentioned that If you specified the path "/config/ads/ads_props.ini" and it doesn't exist, we will try to find "ads_props.ini" in your home directory.

[2017-01-02 13:51] sylvainmtl68 commented on #202
While digging more in the code, I realized the library wasn't looking for the HOME variable in the environment ($_ENV), but in the $_SERVER environment.

In my case, the server doesn't populate the HOME variable in the $_SERVER array, so I had to force it my self at the beginning of my script, like this:

$_SERVER['HOME']=dirname(dirname(__FILE__));

Then the new library would know where to look a

[2017-01-02 13:56] chiragvels commented on #202
@sylvainmtl68 Let me try same, currently I was putting ini file to my cwd, and it is working, but my way is not the correct way.

[2017-01-02 22:00] Tzarn opened #204 "Class 'AdWordsSessionBuilder' not found : Composer failed AutoLoad"
Hello,
Since the  recent update I have been getting this issue whenever I have attempted to instantiate the class:

production.ERROR: Symfony\Component\Debug\Exception\FatalThrowableError: Class 'AdWordsSessionBuilder' not found in <.....PATH.....>

Before the recent update it was working fine. By including it Composer's classmap it was auto-loaded properly however after the recent update I have b

[2017-01-03 09:33] chiragvels commented on #202
Hello Team,

It was mistake by me, Its working fine Now.
I need to pass $path under Adwords Session builder also.

$session = (new AdWordsSessionBuilder())
        ->fromFile(**$path**)
        ->withOAuth2Credential($oAuth2Credential)
        ->build();

Thanks,

[2017-01-03 09:33] #202 closed

[2017-01-03 13:32] ektasingh2408 opened #205 "Fatal error: Class 'Google\AdsApi\Common\OAuth2TokenBuilder' not found in C:\xampp\htdocs\google_dfp\googleads\examples\Dfp\v201611\ReportService\RunInventoryReport.php on line 106"

[2017-01-03 15:59] vtsao commented on #205
Hi @ektasingh2408 did you install the library via Composer?

[2017-01-03 16:02] vtsao commented on #204
Hi @Tzarn to confirm - did you include googleads/googleads-php-lib as a dependency in your project's Composer file?

[2017-01-03 16:15] vtsao commented on #201
Hi @dysfunct we're still working on updating the Developer Site docs that you linked to reference the new ads PHP client library.

Can you post your code for the report you're trying to run and I'll take a look? Also post the report job ID. Thanks.

[2017-01-03 16:26] dysfunct commented on #201
Hey @vtsao thanks for the follow up. With regards to my specific issue, it turned out to be an easy fix. The initial code as well as the subsequent changes are detailed in this StackOverflow question: https://stackoverflow.com/questions/41388640/google-dfp-api-reportservice-is-failing-with-no-notable-error-message/

The long and short of it is that filters using `LIKE` need to have `%` around the

[2017-01-03 16:43] josedacosta opened #206 ""old libraries MapUtils" in the sample code"
You have "old libraries" in the sample code ...
Look at this search "master" branch :
https://github.com/googleads/googleads-php-lib/search?q=MapUtils

"old libraries" :
https://github.com/googleads/googleads-php-lib/blob/5eea2f7fb65fd07f0413eb2e33bc2e7563c43078/UPGRADING.md#utilities

[2017-01-03 17:38] vtsao commented on #201
Thanks, will look into the PQL LIKE issue with saved queries. Also FYI our official support channels are outlined here:
https://github.com/googleads/googleads-php-lib/blob/master/README.md#getting-support

you'll get responses from our support team if you post on our API forums for future issues.

[2017-01-03 17:38] #201 closed

[2017-01-03 17:45] vtsao commented on #206
Thanks for pointing this out, we'll get this fixed.

[2017-01-04 05:39] ektasingh2408 commented on #205
Thanks problem is solved :)

[2017-01-04 15:26] #205 closed

[2017-01-05 19:11] ederbarradas opened #208 "cURL error 60: SSL certificate problem with soapSettings SSL check disabled"
I get this issue whenever I try to make a call to the services.

RequestException in xxxxxxxxxxx\vendor\guzzlehttp\guzzle\src\Handler\CurlFactory.php line 187:
cURL error 60: SSL certificate problem: unable to get local issuer certificate (see http://curl.haxx.se/libcurl/c/libcurl-errors.html)

I disabled the SSL check by creating a $soapSettings object like this
  $soapSettings= (new SoapSettings

[2017-01-06 09:28] CodeChiller opened #209 "setClientCustomerId function in AdwordsSession is missing"
Hi,

is there any reason why the setClientCustomerId() and setReportSettings function are not available in [AdwordsSession.php](https://github.com/googleads/googleads-php-lib/blob/master/src/Google/AdsApi/AdWords/AdWordsSession.php)?

The counterpart class [AdwordsSession.java](https://github.com/googleads/googleads-java-lib/blob/master/modules/ads_lib/src/main/java/com/google/api/ads/adwords/lib/

[2017-01-06 15:03] chiragvels commented on #209
Hi @CodeChiller ,
It is available with AdWordsSessionBuilder.php
You can set same like
$session = (new AdWordsSessionBuilder())
          ->fromFile()
          ->withOAuth2Credential($oAuth2Credential)
          ->withClientCustomerId($clientCustomerId)
          ->build();

Hope this helps!

Thanks,

[2017-01-06 19:20] nhtahoe opened #210 "Unable to install due to guzzlehttp/psr7 version conflict"
Unable to install this library due to a version conflict with guzzlehttp/psr7. Here is the output I get when I run the composer install:

[2017-01-06 19:51] vtsao commented on #208
Hey @ederbarradas which service are you trying to make an API call to? Guzzle is only used for non-SOAP calls in this library (so things like AdWords reporting and parts of batch jobs).

SOAP API calls in this library use PHP's native SOAP toolkit, which doesn't use Guzzle. So disabling SSL for SOAP won't affect Guzzle in this library.

It looks like it may be an issue with your Curl installation

[2017-01-06 20:02] vtsao commented on #209
Thanks @chiragvels. @CodeChiller yes, we generally recommend building a new session for each client customer ID. Does that work for your use case? If you need to manage a large number of client customers, then you could also keep the builder around.

[2017-01-06 20:02] #209 closed

[2017-01-06 22:07] ederbarradas commented on #208
Hi Vincent,

I make a lot of request to different service on my process, but the first call that I made (and the first call to fail) is getCurrentNetwork() from the Network Service.

Now, I'm pretty sure the issue is Guzzle the one with the issue. I went to vendor/guzzlehttp/guzzle/src/Client.php and hardcoded  'verify' => false. That did the trick. I'm able to run the whole process from start to

[2017-01-07 12:36] petrjirasek commented on #210
I have the same problem, any solution please?

[2017-01-07 19:04] nhtahoe commented on #210
I was able to get the ads API PHP client library v 25 install to work by
first adding the following line in the "require" section of my
composer.json file as an inline alias:
"guzzlehttp/psr7": "1.2.3 as 1.3.1"
I'm not sure if this will break other things, but it did let me at least
install the library.

On Sat, Jan 7, 2017 at 4:36 AM, Petr Jirásek <notifications@github.com>
wrote:

[2017-01-09 17:48] alikopasa opened #211 "'Google\AdsApi\Common\Util\MapUtils' not found in"
Fatal error: Class 'Google\AdsApi\Common\Util\MapUtils' not found in /home/user/public_html/googleads/googleads-php-lib/examples/AdWords/v201609/Optimization/GetKeywordIdeas.php on line 103

[2017-01-09 18:02] alikopasa commented on #211
Sorry I saw not this informed 6 days ago.

[2017-01-09 18:02] #211 closed

[2017-01-09 18:30] petrjirasek commented on #210
In my case Amazon SDK requires 1.3.1 so I am not sure if it is a good idea:)
On 07.01.2017 20:05:06, nhtahoe <notifications@github.com> wrote:
I was able to get the ads API PHP client library v 25 install to work by
first adding the following line in the "require" section of my
composer.json file as an inline alias:
"guzzlehttp/psr7": "1.2.3 as 1.3.1"
I'm not sure if this will break other things,

[2017-01-09 19:41] vtsao commented on #210
Thanks everybody for reporting this. The issue is that the min required version of google-auth currently in this library's Composer file is 0.7. In that version, google-auth defined the Guzzle PSR-7 dep as "1.2.*", which is more limiting than it needs to be (since Guzzle follows semantic versioning) and causes the unsatisfiable package deps (since most people are using a later version of Guzzle PS

[2017-01-09 19:44] vtsao commented on #204
Hi @Tzarn did that help? I'm closing this issue for now, please re-open if you're still having issues. Thanks.

[2017-01-09 19:44] #204 closed

[2017-01-09 21:39] vtsao commented on #208
In this library Guzzle is only used with AdWords reporting or parts of batch jobs, and DFP report downloads.

In all those utils, you can specify a [custom HTTP client to use](https://github.com/googleads/googleads-php-lib/blob/master/src/Google/AdsApi/AdWords/Reporting/v201609/ReportDownloader.php#L60), which you can [configure without SSL](http://docs.guzzlephp.org/en/latest/request-options.html

[2017-01-09 21:55] vtsao commented on #210
Actually it should be google-auth ^0.11.0.

[2017-01-09 21:59] vtsao commented on #200
Similar to issue #210, updating this lib's dep on google-auth to ^0.11.0 should fix this, I'll do that. Thanks for filing this.

[2017-01-09 22:15] vtsao commented on #185
Hi @swordbeta can you clarify which class in the Google Auth client you are referring to that takes in a JSON file downloaded from the API Manager?

Alternatively, our library relies on the Google Auth library for OAuth2. You may use the Google Auth library directly if you wish to create an OAuth2 credential and pass it into our AdsSession object if you don't want to use the INI file for credentia

[2017-01-10 00:14] komirad opened #212 "BatchJobProcessingError.FILE_FORMAT_ERROR"
Hi,

I am using `>=25.0-dev` (new library) and I am getting `BatchJobProcessingError.FILE_FORMAT_ERROR` from `$batchJobs->uploadBatchJobOperations($operations, $uploadUrl);`

Batch job id: 432584916

Full string from printf `Processing error [0]: errorType=, trigger=, errorString=BatchJobProcessingError.FILE_FORMAT_ERROR, fieldPath=, reason=FILE_FORMAT_ERROR`

I can't figure out what's wrong.

XML

[2017-01-10 10:44] ronoudgenoeg commented on #185
@vtsao [google-api-php-client](https://github.com/google/google-api-php-client) allows downloaded JSON credentials from Google API console to be used with the `Google_Client::setAuthConfig` method as seen [here](https://github.com/google/google-api-php-client#authentication-with-oauth).

[2017-01-10 11:18] Shuyinsama opened #213 "Composer installation error"
Hello,

I saw the thread for the Guzzle error and some older errors but somehow all the solutions don't work.
I wasn't sure if I needed to start a new issue but I didn't really want to hijack the other issue.

Anyway I am trying to require this library inside a Laravel project.

In this project I also connect to the `google/apiclient` package so I can get data from Analytics.
Now I want to connect

[2017-01-10 12:05] fiboknacky commented on #212
Hello @komirad

Let me check and get back to you.

Best,
Knack

[2017-01-10 13:13] fiboknacky commented on #192
Hello @cacapan

We're working on the fix and will push the fix later.
If you wish to fix this by yourself first, please go to [`BatchJobClasses`](https://github.com/googleads/googleads-php-lib/blob/deprecated/src/Google/Api/Ads/AdWords/Util/v201609/BatchJobClasses.php) and add  `$AdGroupExtensionSetting` as a member variable of the class [`Operand`](https://github.com/googleads/googleads-php-lib/b

[2017-01-10 17:32] vtsao commented on #185
@ronoudgenoeg Thanks for the link. To clarify that's the Google PHP library, which is a separate library from the Google Auth PHP library (it uses the Google Auth PHP library). The link you provided is showing the initial OAuth2 dance/process of obtaining an access token. Our INI file is meant to be used when you've already obtained an offline refresh token. The JSON credentials you download from

[2017-01-10 17:32] #185 closed

[2017-01-10 17:36] vtsao commented on #208
@ederbarradas Sorry I missed that you're using DFP (and not AdWords) - can you confirm?

Also I need some more information from you - are you getting this error when making any call to the DFP API? Can you send me a full stacktrace?

Thanks,
Vincent

[2017-01-11 03:17] kim-uen opened #214 "About BatchJob Delegate"
I found the null point error  of the method call of  getBatchJobsUtilLogger() on the constructor.
It seems that there are no the instance property of AdwordsSession.
How can I avoid this error ?
 ``
Google\Api\AdsApi\AdWords\BatchJobs\v201609\BatchJobsDelegate.php

[code]

[2017-01-11 03:17] fiboknacky commented on #212
Hi JC,

Could you please tell me what version of client library you're using?
Thanks in advance.

Best,
Knack

[2017-01-11 03:19] fiboknacky commented on #214
Hello @kim-uen

It's a known issue, which is part of #197.
We're releasing a patch soon, so please follow up #197 instead.

Thanks for reporting.

Best,
Knack

[2017-01-11 03:19] #214 closed

[2017-01-11 03:20] komirad commented on #212
Hi Knack,

It's the latest commit because I had to get this [fix](https://github.com/googleads/googleads-php-lib/commit/5192a216c324a02e1c30c5bac75f43a2663d5b60). In composer.json it's set to >=25.0-dev.

[2017-01-11 03:28] kim-uen commented on #214
Hello @fiboknacky

Thank you for your support.
I am waitng for release patch.

Best Regards,
Kim

[2017-01-11 04:00] kim-uen opened #215 "About BatchJob downloadBatchJobResults"
Hello,
About BatchJobsDelegate, I have one more troubles.
Its trouble is that  the result of  the method of downloadBatchJobResults is empty at all time.

I  investigated　the downloadBatchJobResults ;

[code]
This result is empty.

It does not work well on  "$response->getBody()->getContent()" .
Alternatively,  When I changed this code to `(string)$response->getBody()`, It does work well .

Is the

[2017-01-11 04:08] fiboknacky commented on #215
Hello @kim-uen

Thanks for reporting.
This is also be fixed with #197 as well.
In short, in some cases, when the stream of response is read until the end, it's not properly rewound into the beginning.

What you've done `(string) $response->getBody()` should work as well as `_toString` of Guzzle `StreamInterface` also does the rewinding for us.

Best,
Knack

[2017-01-11 04:08] #215 closed

[2017-01-11 05:20] kim-uen commented on #215
Hello @fiboknacky

Thank you for detail information.
I undestand thre reason of this problem.
I will try again with next release.

Best Regards
Kim

[2017-01-11 09:46] fiboknacky commented on #212
Hello @komirad

I've found the errorneous place. :-)
It's in one of your campaign operation:

[code]

The correct one, which you can obtain if you run [`AddCompleteCampaignsUsingBatchJob`](https://github.com/googleads/googleads-php-lib/blob/master/examples/AdWords/v201609/CampaignManagement/AddCompleteCampaignsUsingBatchJob.php) as is, would be:
[code]
Please note that `xsi:type` is an important a

[2017-01-11 13:58] komirad commented on #212
Ah that's strange, I am not sure how I got it to work in the old library.

I have updated to use actual class instead of string and now I am getting `Processing error [0]: errorType=, trigger=, errorString=BatchJobProcessingError.INTERNAL_ERROR, fieldPath=, reason=INTERNAL_ERROR`

Can you check on batch job id `433221384`?

As seen here, the mentioned part should be correct now:
[code]

Also tried

[2017-01-11 15:49] fiboknacky commented on #212
Hello,

For batch job ID 433221384, I saw in the log that your corresponding part is:
[code]

The `biddingSchemeType` part is not correct and needed here.
Could you please check?

For ID 433088774, I don't see anything special yet.
Would it be possible for you to create a campaign only?
I also wonder if you need to specify all the details of `budget` inside the `CampaignOperation`:
[code]
We shoul

[2017-01-11 16:10] komirad commented on #212
Hi Knack,

When creating budget and campaign only, there were not API errors. I think the issue lies with campaign criterions. Once I add this in, I get internal error from the API.

[code]

However, even though I got the status "DONE" when just creating budget and campaign, I see an exception:
[code]